[2019-01-31 16:44] kgodey opened #1 "Style the site better"
The site currently uses vanilla Bootstrap, please make it look better. Feel free to make any layout and presentation changes you like, I'm not attached to any particular way that I set it up.

Templates source for making style changes: https://github.com/creativecommons/creativecommons.github.io-source/tree/master/templates (edited)

CSS: https://github.com/creativecommons/creativecommons.github.i

[2019-02-05 19:52] kgodey commented on #1
This is done.

[2019-02-05 19:52] #1 closed

[2019-02-05 19:53] kgodey opened #4 "Top nav items are not very bright"
Maybe we could match the nav styling of creativecommons.org?
![screen shot 2019-02-05 at 2 53 53 pm](https://user-images.githubusercontent.com/287034/52300494-fa4fbf00-2955-11e9-9f03-26911d476889.png)

[2019-02-13 21:31] kgodey opened #10 "Add automated link checking idea to GSoC project ideas page"

[2019-02-20 13:48] hugosolar commented on #4
Fixed in https://github.com/creativecommons/creativecommons.github.io-source/commit/df4320f4562fc9d3fc56feffdc4fab668d333f99
- Underline active items
- Layout fix (header aligned to right)

[2019-02-20 19:40] kgodey commented on #4
Could you make the minimum width of the header the same as the main container's width?

[2019-02-20 23:05] kgodey commented on #4
@hugosolar could you also add "Creative Commons Open Source" to the header of the site since that's what we decided on?

[2019-02-21 15:27] hugosolar commented on #4
Ok, done
- Fixed header align in https://github.com/creativecommons/creativecommons.github.io-source/commit/6ef03d5559a2970f611bdcec62c356ccbe0a9ce3
- Fixed footer align and style fixes also in https://github.com/creativecommons/creativecommons.github.io-source/commit/c3aa175c087a5f5e0e6d2de92c37994e6280e18d
- Text added down the main logo in the header in https://github.com/creativecommons/creati

[2019-02-21 15:27] #4 closed

[2019-02-22 14:36] hugosolar opened #11 "Fix obvious style issues on mobile"
There are a lot of obvious style issues when the site is viewed on mobile. Please document and fix them.

[2019-02-22 15:33] TimidRobot opened #12 "Replace PyYAML dependency with ruamel.yaml?"
ruamel.yaml supports YAML 1.2 and its releases are less of a mess:
- [Differences with PyYAML — Python YAML package documentation](https://yaml.readthedocs.io/en/latest/pyyaml.html)
- [Rebase off ruamel? - many new valuable features · Issue #46 · yaml/pyyaml](https://github.com/yaml/pyyaml/issues/46)
- [Releases · yaml/pyyaml](https://github.com/yaml/pyyaml/releases)

I don't know if dropping ruam

[2019-02-22 21:20] #10 closed

[2019-02-23 02:34] kgodey opened #15 "Footer styling issues"
Two issues:

1. The footer should show up at the bottom of the viewport when the content doesn't go until the bottom but even for pages without much content, you need to scroll to see the footer.
<img width="2032" alt="screen shot 2019-02-22 at 9 26 48 pm" src="https://user-images.githubusercontent.com/287034/53280510-cf50c380-36e8-11e9-8d50-2fea1025ebc3.png">
2. When the viewport is narrow enough

[2019-02-25 19:08] kgodey opened #16 "Document CC Search and CC Catalog API on CC Open Source."

[2019-02-27 16:29] hugosolar commented on #15
Fixed in https://github.com/creativecommons/creativecommons.github.io-source/commit/543b1b189a8ec52cc661aabf544e5243c4d121cc

[2019-02-27 16:29] #15 closed

[2019-02-27 23:44] alirizwi commented on #12
@TimidRobot @kgodey I want to work on this issue. As I can understand I have to remove `PyYAML` configuration from `Pipfile.lock`. Am I right?

[2019-02-28 23:46] kgodey commented on #12
`Pipfile.lock` is an autogenerated file, you have to update the `Pipfile` dependencies (see `pipenv` docs: https://pipenv.readthedocs.io/en/latest/). Also you need to check whether we need a yaml library as a dependency at all.

[2019-03-01 08:59] Sgarg510 commented on #11
The bootstrap template is pretty much fine. I added a meta view-port and made a pr as it was missing. That will fix it on the website.

[2019-03-01 12:43] hugosolar commented on #11
PR https://github.com/creativecommons/creativecommons.github.io-source/pull/22 merged that add viewport meta
There are a lot of style issues to fix, though

[2019-03-07 03:43] kgodey opened #25 "Fix or improve styling for active nav links when navbar has collapsed."
**I'm submitting a...**
- [x] Bug

**Description:**
The styling for the active nav item looks fine when the nav is expanded (see blue box in screenshot)
![active link full size](https://user-images.githubusercontent.com/287034/53930840-d967b000-4060-11e9-875b-1d2bf39b7318.png)

When the nav is collapsed, the border beneath the active item occupies the entire width of the header.
![active link coll

[2019-03-07 03:45] kgodey commented on #11
I narrowed the scope of this issue a little and I'll create a separate issue for setting up SASS.

[2019-03-07 03:50] kgodey opened #26 "Port CSS to SASS"
**I'm submitting a...**
- [x] Feature request

**Description:**
There is some CSS in the `/assets/` folder. We'd like to use modern best practices and move to the Sass extension language. We also want to build CSS from the Sass file(s) automatically during the Lektor build process.

**Resources**
- [Sass documentation](https://sass-lang.com/documentation/file.SASS_REFERENCE.html)
- [Lektor guide t

[2019-03-07 03:52] kgodey commented on #11
Created #26 for Sass.

[2019-03-07 04:20] makkoncept commented on #25
hi @kgodey, can I work on this issue?

Thanks

[2019-03-07 05:05] sanjana11147 commented on #26
Hii @kgodey. I would like to work on this issue. Can you assign it to me? 🙂

[2019-03-07 07:50] accakks commented on #11
Hi, I would like to work on this.
I'll start by analyzing what style issues are there exactly and work on them.

Is there anything you might like to add?

[2019-03-07 19:10] kgodey commented on #26
@sanjana11147 feel free to work on it!

[2019-03-08 18:16] #25 closed

[2019-03-08 20:33] kgodey commented on #11
The only one I can think of is the footer having overflowing text and whitespace below it when the screen is narrow enough for the text to not fit in the footer.
![Technology at Creative Commons — Creative Commons on GitHub](https://user-images.githubusercontent.com/287034/54054173-7f2d3300-41b7-11e9-90b2-f39479bc4687.png)

[2019-03-08 20:54] accakks commented on #11
@kgodey Can you assign this to me or mark in progress?

[2019-03-08 21:08] kgodey commented on #11
@accakks I can't assign to you since you're not in our GitHub organization, our [Contributing Code](https://creativecommons.github.io/contributing-code/) guidelines mentions that if there's a comment on the issue saying someone is working on it, other people shouldn't work on it so you should be good.

[2019-03-08 21:09] kgodey commented on #25
The media query was missing an end curly brace and broke the ToC styling, I fixed it in https://github.com/creativecommons/creativecommons.github.io-source/commit/1558da38608103239ed81178559e8902a9e6a8d4

<img width="1982" alt="Screen Shot 2019-03-08 at 3 59 00 PM" src="https://user-images.githubusercontent.com/287034/54055952-9c183500-41bc-11e9-94d0-bff43a8ca4b3.png">

[2019-03-09 11:17] makkoncept commented on #25
Sorry I didn't noticed it.

[2019-03-09 11:47] #16 closed

[2019-03-09 23:55] code-n-chill commented on #26
Hi @kgodey , please check the pull request and let me know if there is anything to be fixed.  :-)

[2019-03-11 06:53] code-n-chill commented on #12
@TimidRobot @kgodey , I would like to work on the issue, can i proceed?

[2019-03-13 01:59] kgodey commented on #12
@code-n-chill sure, go ahead.

[2019-03-13 07:17] code-n-chill commented on #12
I just checked out dependency graph and found that "Lektor" has a dependency on "watchdog" (which monitors system events), which further have a dependency on PyYAML, any idea how to tweak this?

[2019-03-13 09:38] sgrepos commented on #11
@kgodey this is not showing up as "in progress" currently, although I know you just recently updated that inside the contribution guidelines. I'm just commenting here to express my interest in working on it, in case it might be available!

@accakks can you update us and let us know if you're still working on this? :)

[2019-03-13 09:54] accakks commented on #11
@sgrepos Yes I'll be working on this. If I'm not able to I'll let you know in 2-3 days.

[2019-03-13 10:02] sgrepos commented on #11
@accakks Alright, great! 👍

[2019-03-13 17:39] kgodey commented on #11
@sgrepos I haven't updated any existing issues with the label yet, let me know if there are more I should update.

[2019-03-14 05:13] accakks commented on #11
@kgodey I have created a PR #36  fixing text and whitespace overflow issue.
Do you think I should take time to explore and fix other mobile issues (if any) on the PR or I should create other PR(s) of other issues if found?

[2019-03-14 18:02] #12 closed

[2019-03-14 19:11] kgodey commented on #11
@accakks that would be great, @hugosolar may have other specific examples of things to fix too.

[2019-03-16 04:03] #11 closed

[2019-03-17 06:02] kgodey commented on #26
Reopening since #31 was reverted.

[2019-03-17 12:41] sanjana11147 opened #40 "Back to top directs to the first heading and not the header."
Description:
On clicking the back to top button, the user is directed to the first heading of the web page and not the footer, so if one has to choose another tab, they have to further scroll up manually.

Fix:
Change the back to top button to direct to the top of the web page and not the first heading.

[2019-03-17 12:43] sanjana11147 commented on #40
@kgodey @hugosolar Please review. I would like to work on it.

[2019-03-18 05:24] kgodey commented on #40
Go ahead!

[2019-03-18 17:54] code-n-chill commented on #26
@kgodey, the last PR broke up the styling because i forgot to build the project before the commit and there was no css file present in the repo. I have built the project this time before hand and had taken utmost care of are not to miss anything this time. Sorry for what happened in the last PR.

[2019-03-18 18:35] kgodey commented on #26
@code-n-chill don't worry about it! I've reviewed your PR.

[2019-03-19 22:57] code-n-chill opened #42 "Styling issue on mobile"
**Describe the bug**
The text on some pages is not properly aligned when seen from mobile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'community' tab on navbar
2. Click on 'any link' from dropdown
3. See the styling issue with 'jump to' list.

**Expected behavior**
Should be properly aligned with rest of page.

**Screenshots**
![Screenshot_20190320_041926](https://user-images.gith

[2019-03-20 05:00] sanjana11147 commented on #42
I would like to work on this issue @kgodey @code-n-chill

[2019-03-22 18:53] #26 closed

[2019-03-22 18:58] #40 closed

[2019-03-23 11:58] code-n-chill commented on #42
@sanjana11147, since you made a chnge in css file of the project whicg after my changes no longer exist. You can create a new PR with similar change in width of toc card of sass file located in webpack directory of the repo.

[2019-03-25 16:44] kgodey opened #48 "Move continuous deployment to GitHub Actions"
**Is your feature request related to a problem? Please describe.**
We currently use TravisCI. We'd like to use GitHub Actions instead.

**Describe the solution you'd like**
The project should build on GitHub Actions and the automatic build and deployment should work.

[2019-03-25 16:44] #42 closed

[2019-03-25 19:11] kgodey opened #50 "Blog: Verify that pagination works and style it appropriately."
See **https://github.com/creativecommons/creativecommons.github.io-source/pull/43** for context.

Pagination is currently unstyled and only shows the current page, this issue is to make the style blend in better and to show links to all pages on every page.

[2019-03-25 19:15] kgodey opened #51 "Blog: Show post categories in UI"
See **https://github.com/creativecommons/creativecommons.github.io-source/pull/43** for context. This should be worked on after https://github.com/creativecommons/creativecommons.github.io-source/pull/49 since that PR adds categories.

Post categories are currently not being displayed in the UI, they should be displayed on the post page. The design is up to you.

[2019-03-25 19:16] kgodey opened #52 "CC Technical Blog Archive: Link to blog from navigation"
See **https://github.com/creativecommons/creativecommons.github.io-source/pull/43** for context. This should be worked on after https://github.com/creativecommons/creativecommons.github.io-source/pull/49 since that PR adds the blog posts.

Assigning this to myself because I'm not sure which section is the best place yet.

[2019-03-25 19:23] kgodey opened #53 "Blog: Create author pages that show all of one author's posts."
We show the author name in blog posts but there's no way to see all posts by an author. We should implement that feature and make the author's name clickable.

[2019-03-25 19:25] kgodey opened #54 "Blog: Create category pages that show posts associated with a category."
We (will once https://github.com/creativecommons/creativecommons.github.io-source/issues/51 is done) show categories belonging blog posts but there's no way to see all posts in a given category. We should implement that feature and make each category associated with a blog post clickable to see all posts in that category.

[2019-03-26 07:27] code-n-chill commented on #48
@kgodey I would like to work on it

[2019-03-26 07:39] kgodey commented on #48
@code-n-chill you'll need me/someone else with admin access to set up the credentials on CircleCI that will let the @cc-creativecommons-github-io-bot user check out and commit to repos. you can get started on it and let me know when you're blocked by that if you'd like.

[2019-03-26 15:43] makkoncept commented on #51
hi @kgodey, I would like to work on this. Can you assign it to me?

[2019-03-26 21:54] kgodey commented on #51
Go ahead!

[2019-03-27 06:27] Anubhavshakya commented on #54
I would like to work on this...

[2019-03-27 20:48] kgodey commented on #54
You'll need to wait until https://github.com/creativecommons/creativecommons.github.io-source/issues/51 is done to avoid conflicts since that changes categories as well. If you want to work on something now, I suggest https://github.com/creativecommons/creativecommons.github.io-source/issues/53 – it's similar but will not have conflicts with existing work.

[2019-03-27 20:57] kgodey commented on #54
I'm removing the labels that indicate it's ready for work until #51 is done.

[2019-03-27 21:09] makkoncept commented on #53
@kgodey Can I work on this one?

[2019-03-27 21:31] kgodey opened #56 "CC Tech Blog Archive: some internal links not working"
**Describe the bug**
Some link URLs to other blog posts are not linked to the correct URL.

**To Reproduce**
See https://creativecommons.github.io/tech-blog-archives/good-advice-for-gsoc-students/. The "already mentioned" link is redirecting to `http://labs.creativecommons.org/2011/03/21/cc-gsoc-integration-is-the-word/` instead of `/tech-blog-archives/cc-gsoc-integration-is-the-word/`

**Expected

[2019-03-27 21:32] kgodey commented on #56
@makkoncept is working on this.

[2019-03-27 21:33] kgodey commented on #53
Go ahead.

[2019-03-28 17:17] #56 closed

[2019-03-28 21:35] #51 closed

[2019-04-01 05:25] makkoncept commented on #50
hi @kgodey, Can I work on this?

[2019-04-01 23:40] kgodey commented on #54
Adding labels back since #51 is merged.

[2019-04-01 23:40] #53 closed

[2019-04-03 19:11] #50 closed

[2019-04-03 19:36] makkoncept commented on #54
@kgodey can I work on this issue if no one is working on it.
Thanks

[2019-04-03 19:36] kgodey commented on #54
Go ahead

[2019-04-03 23:33] #52 closed

[2019-04-03 23:36] kgodey commented on #54
@makkoncept I made some changes to the URLs and categories in https://github.com/creativecommons/creativecommons.github.io-source/pull/61, please merge that into your branch early to avoid merge conflicts.

[2019-04-03 23:48] kgodey opened #62 "Support generating authors pages for multiple blogs"
Currently, the authors page shows all authors associated with all blogs. Each blog should have its own authors list – the blog model was designed to support independent blogs so that we could also reuse it for a current CC tech blog. As part of this, we should also not hardcode the blog title in the author templates.

[2019-04-04 02:38] akmadian opened #63 "Add more information regarding proposal selection, and mentor availability to GSoC "General Information" page."
**Is your feature request related to a problem? Please describe.**
Recently in the cc-gsoc Slack channel, @kgodey provided some very useful information regarding mentor availability, and how `n` project ideas may be available, but there may only be enough mentors/ slots to support `< n` proposals. Additionally, she provided some information about proposal review criteria. She already added some of

[2019-04-04 13:03] makkoncept commented on #54
okay, will do :+1:

[2019-04-04 15:22] TimidRobot opened #64 "Update blog date format to match ISO 8601"
## Issue
Blog posts byline currently use US date format:
[code]

## Solution
The site should be updated to use use the same order as ISO date format:
[code]
- Creative Commons likes standards
- Creative Commons has a global focus, not a USA focus

## References
- [dateformat | Documentation | Lektor Static Content Management System](https://www.getlektor.com/docs/api/templates/filters/dateformat/)

[2019-04-04 17:56] kgodey commented on #63
@akmadian do you want to work on this?

[2019-04-04 18:31] akmadian commented on #63
Sure!

[2019-04-04 19:03] sgrepos commented on #64
I'd like to work on this issue

[2019-04-04 19:04] kgodey commented on #64
go ahead

[2019-04-04 21:00] akmadian opened #65 "git checkout -f HEAD fails because of file path being too long"
**Describe the bug**
Related to #63. I got started, and cloning the repo was successful, but the checkout failed. This are the errors:
[code]
The max file name length for NTFS is 260 characters.
To fix this, I will condense the file name to make it shorter, and submit a PR.

**To Reproduce**
1. Clone this repository
2. Attempt to `git checkout -f HEAD`
3. See error

**Expected behavior**
The check

[2019-04-05 05:06] #64 closed

[2019-04-05 05:06] #65 closed

[2019-04-05 06:16] Ruchitha2018 opened #69 "Pagination is not responsive in archive/old-tech-blog"
Pagination design is not responsive in archive/old-tech-blog.
![Pagination](https://user-images.githubusercontent.com/19637392/55606958-6dc84e00-5798-11e9-83bb-eb805a24b856.png)

Can I work on this issue?

[2019-04-05 06:17] Ruchitha2018 commented on #69
Can I make it responsive?

[2019-04-05 14:16] makkoncept commented on #54
@kgodey I noticed  #62 _(generating author pages for multiple blogs)_ . I think we should also do this for categories so that structure of the blog can be consistent.
If you think so, shall I do this in this PR itself as I have not commited the changes yet or opening a new issue would be a good idea?

[2019-04-05 17:19] kgodey commented on #54
Please do it in this PR, thanks!

[2019-04-05 17:27] kgodey commented on #69
Go ahead

[2019-04-05 21:41] makkoncept commented on #62
@kgodey Can I work on this issue?

[2019-04-08 17:45] #63 closed

[2019-04-08 22:26] kgodey commented on #62
sure

[2019-04-15 22:00] #54 closed

[2019-04-15 22:13] #69 closed

[2019-04-15 22:55] kgodey commented on #54
@makkoncept FYI, I updated some styles/text and fixed author pages which broke, see: https://github.com/creativecommons/creativecommons.github.io-source/compare/1304f579343f71d9c3e790a48c9a9b1c9fc3f2a8...a63295440d20024db0f80035f2397c8ed4ebec1c

Internal links also broke, I fixed in: https://github.com/creativecommons/creativecommons.github.io-source/commit/704788fed5288d41d0176086bc7888cf493d4b01

[2019-04-15 23:14] kgodey commented on #62
You might find these commits useful: https://github.com/creativecommons/creativecommons.github.io-source/compare/704788fed5288d41d0176086bc7888cf493d4b01...7fea06684de5539a3a1c20835cbecff3e052459d for removing the duplication of the blog name.

[2019-04-16 05:43] makkoncept commented on #54
@kgodey I am sorry, I should have checked it. I will be more careful now.

[2019-04-16 05:44] makkoncept commented on #62
Cool! Thanks for this.

[2019-04-17 19:43] makkoncept commented on #62
@kgodey  I think we should change
[code]
in `blog-category.html` template to
[code]
Title field was removed from `blog-categories.ini` model in 27badd06cbb3ae7c6c8635aabdea26f0703eef65

[2019-04-17 21:42] kgodey commented on #62
@makkoncept that looks good, thanks.

[2019-04-17 21:45] #62 closed

[2019-04-17 21:51] kgodey commented on #62
@makkoncept I made the change in https://github.com/creativecommons/creativecommons.github.io-source/commit/2edf7a9da84b32f89ea91b82546cb975988ae6ce.

[2019-04-17 23:17] makkoncept commented on #48
hi @kgodey , can I work on this issue if it's open? I have not worked with CircleCI and CD and want to learn about it. I might be slow on this but I will try.
Thanks

[2019-04-17 23:19] kgodey commented on #48
Sure, go ahead. Let me know if you run into permission errors.

[2019-04-18 17:28] kgodey opened #75 "Add RSS feeds for blogs"
We'd like to publish an RSS feed for our blog so that people can subscribe it and we can also use it to set up automated notifications in other applications (such as Slack).

[2019-04-19 21:01] #75 closed

[2019-04-23 16:45] kgodey commented on #48
Removing the "in progress" label based on Slack conversation with @makkoncept.

[2019-06-04 16:21] TimidRobot opened #79 "Add a donation entry point / link to Contributing Code"
We should add a donation entry point / link to [Contributing Code — Creative Commons on GitHub](http://creativecommons.github.io/contributing-code/).

[2019-06-07 15:54] kgodey opened #80 "Add author full name, picture, and bio URL to blog author pages"
Blog author pages currently look like this:

![Screenshot_2019-06-07 kgodey - CC Open Source Blog — Creative Commons on GitHub](https://user-images.githubusercontent.com/287034/59117026-e1164980-891a-11e9-80bc-1979387501c0.png)

We should add fields for full name and bio URL and display them on the author page if they are available. Pulling in gravatar images would be nice.

We should also update

[2019-06-07 20:00] kgodey commented on #80
Yeah, that makes sense.

[2019-06-20 16:38] kgodey opened #89 "Add the ability for blog posts to be part of a series"
## Overview
It would be nice to show something like "This blog post is part of the <SERIES NAME> series" for blog posts that are related.

## Look and feel
Series can already be tracked via categories, but we would like a separate mechanism (like authors) to track them. **Please include design mock-ups or screenshots with any proposals or pull requests.**

## Series Examples
- https://creativecomm

[2019-07-18 07:38] tech-ch1 opened #99 "On summary page, link to full licence is broken"
**Describe the bug**
On that page: https://creativecommons.org/licenses/by-nc-nd/3.0/fr/
There is a link to the licence, which is broken.

The link is: https://creativecommons.org/licenses/by-nc-nd/3.0/fr/legalcode.fr
But should be: https://creativecommons.org/licenses/by-nc-nd/3.0/fr/legalcode

**Desktop (please complete the following information):**
 - OS: Debian Buster
 - Browser Firefox
 - Ver

[2019-07-18 14:31] ericsteuer opened #100 "Preview images and page descriptions for social media"
Hi -- just a suggestion: Blog post pages on the open source blog don't appear to be optimized well for Twitter and Facebook (etc.) to be able to fetch and display image and description previews. See attached screenshots
<img width="374" alt="Screen Shot 2019-07-18 at 7 29 30 AM" src="https://user-images.githubusercontent.com/8919762/61465967-f0cb7980-a92d-11e9-9875-9b50a6628237.png">

<img width="

[2019-07-19 22:44] kgodey opened #103 "Link to creativecommons.org in the main navigation"
Currently there's no easy way to get from CC Open Source to creativecommons.org, we should add a link to it in the main navigation.

[2019-07-23 01:56] #80 closed

[2019-07-25 06:18] kgodey opened #107 "Generate new author and category pages automatically."
**Is your feature request related to a problem? Please describe.**
Category and author pages have to be added manually for new authors and categories despite having enough information to generate basic pages automatically. This makes the process of adding a new blog post take longer. See the instructions on https://opensource.creativecommons.org/community/write-a-blog-post/, we could reduce a coup

[2019-10-04 14:19] FlaviaKebirungi opened #123 "Spelling error on the "Contributing Code" page of the creative commons website"
**Describe the bug**
There is a spelling error on the "Contributing Code" Page on the creative commons website (https://opensource.creativecommons.org/contributing-code/)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://opensource.creativecommons.org'
2. Click on ' "Overview" under "Contributing code" in the top menu'
3. Scroll down to 'section  titled "Proposing a new issue"'

[2019-10-04 15:54] SamOdum commented on #123
Hello I am an Outreachy applicant, please may I have this issue?

[2019-10-04 15:54] kgodey commented on #123
Go ahead.

[2019-10-04 17:12] #123 closed

[2019-10-06 07:12] enobeeeeeee commented on #103
Hi, am an outreachy applicant, would love to work on this.

[2019-10-07 09:01] AndrejaP commented on #89
Hello. I'm an Outreachy applicant. I would like to work on this issue.

[2019-10-07 19:08] kgodey commented on #89
Go ahead

[2019-10-07 19:11] kgodey commented on #103
Go ahead

[2019-10-07 19:11] AndrejaP commented on #89
Thanks!

[2019-10-08 22:22] SamOdum commented on #79
Hello, I am an Outreachy applicant. May I work on this?

[2019-10-08 22:24] SamOdum commented on #107
Hello @kgodey , I am an Outreachy applicant. Please may I work on this issue?

[2019-10-08 22:32] SamOdum commented on #100
I can handle this. Please may I proceed?

[2019-10-09 07:07] kgodey commented on #107
Sure @SamOdum, I see you've commented on a couple of other issues on this repo as well, please pick one issue at a time so that others have a chance too. Let me know which one you want to tackle first and I'll mark that one as in progress.

[2019-10-09 07:07] kgodey commented on #100
Sure @SamOdum, I see you've commented on a couple of other issues on this repo as well, please pick one issue at a time so that others have a chance too. Let me know which one you want to tackle first and I'll mark that one as in progress.

[2019-10-09 07:07] kgodey commented on #79
Sure @SamOdum, I see you've commented on a couple of other issues on this repo as well, please pick one issue at a time so that others have a chance too. Let me know which one you want to tackle first and I'll mark that one as in progress.

[2019-10-09 07:07] kgodey commented on #79
This one is not marked "help wanted" and is not open to contribution.

[2019-10-09 10:35] SamOdum commented on #100
Thank you for responding. May I start with this one?

[2019-10-09 17:08] kgodey commented on #100
Go ahead.

[2019-10-14 23:46] krysal commented on #103
Hello, I made a proposal to add the link since there is not much activitie here for last 7 days.
Please @kgodey check if it's okay this way.

[2019-10-15 19:37] AndrejaP commented on #89
Hello. It seems I bit off more than I could chew for now with this issue. I see it is not one of those that everyone can work on simultaneously so I feel bad occupying it while someone else might solve it faster and better. Maybe you can set it as available.

[2019-10-16 05:45] kgodey commented on #89
@AndrejaP thanks for the update!

[2019-10-19 11:06] chimenekouomogne commented on #100
Hi @kgodey ! Pleace may i work with you on this ?

[2019-10-21 16:50] kgodey commented on #100
@chimenekouomogne This is already in progress, there is a pull request for it.

[2019-10-21 17:00] chimenekouomogne commented on #107
Hi @kgodey ! I'am an outreachy applicant , i have just received your mail according to the other project that is already in progress. Please is it possible for me to work on this one ?

[2019-10-21 17:02] kgodey commented on #107
Yes, go ahead

[2019-10-21 17:09] chimenekouomogne commented on #107
Thank you @Kriti 

Envoyé depuis Yahoo Mail pour Android

  Le lun., oct. 21, 2019 à 18:02, Kriti Godey<notifications@github.com> a écrit :
Yes, go ahead

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-10-23 07:32] dhruvkb opened #131 "Custom 404 page"
**Is your feature request related to a problem? Please describe.**
The current GitHub site gives the default 404 when one visits a [non-existent page](https://opensource.creativecommons.org/nonexistent).

**Describe the solution you'd like**
Since GitHub Pages support [custom 404 pages](https://help.github.com/en/github/working-with-github-pages/creating-a-custom-404-page-for-your-github-pages-sit

[2019-10-29 04:10] chimenekouomogne commented on #107
![Capture](https://user-images.githubusercontent.com/54715600/67736964-d95e5b00-fa09-11e9-9293-eb8d57d2e853.JPEG)
![Capture2](https://user-images.githubusercontent.com/54715600/67736967-da8f8800-fa09-11e9-9c7c-c5689c374c4e.JPEG)

[2019-10-29 04:39] chimenekouomogne commented on #107
Hi @kgodey ! I thought that generate new author were about something like that. But i discovered that it is already available through admin interface. Now ,i don't know whether i should create a link to a page  that allows an author to fill its informations directly and to involve category. please Ma i'm a bit confused , need your help .

[2019-10-29 06:52] kgodey commented on #107
@chimenekouomogne We don't always use the Lektor admin interface to write posts. When a new blog post entry is created with an unknown author username in the `author` field (e.g. if this entry was created and there was no `makkoncept` author file present), it would be great for the corresponding author folder and file (like [here](https://github.com/creativecommons/creativecommons.github.io-source

[2019-10-29 22:43] #103 closed

[2019-10-30 22:02] chimenekouomogne commented on #107
![code](https://user-images.githubusercontent.com/54715600/67901838-0f195600-fb68-11e9-960a-dc07e2684fba.JPEG)
![code2](https://user-images.githubusercontent.com/54715600/67901841-12144680-fb68-11e9-8f20-cb3e3d29af49.JPEG)
Hi @kriti ! I have modified the file author.html so that when you want to create a new blog post, you can only enter your username in the file.lr

[2019-10-30 22:10] chimenekouomogne commented on #107
![result](https://user-images.githubusercontent.com/54715600/67902482-97e4c180-fb69-11e9-8a9e-d25336fd4762.JPEG)
![reult2](https://user-images.githubusercontent.com/54715600/67902484-987d5800-fb69-11e9-8d58-ff224485947d.JPEG)
Here are the results. As you can see, for a new author , only his username and post are display. For an old author, his name and his post are display. Please is that what you

[2019-11-04 05:48] chimenekouomogne commented on #107
Hi @kgodey ! i have face too dificulties while making pull request to this site .  but i have done it on my github link :
https://github.com/chimenekouomogne/creativecommons.github.io-source.

[2019-11-05 19:13] chimenekouomogne commented on #107
Hi @kgodey ! please here is a link for my final application :
https://docs.google.com/document/d/1Gr-xw99jg_wgqOXVNm4hd5lglhRS4trWqDWVFAXgnGA/edit?pli=1#

[2019-11-14 23:31] TimidRobot opened #134 "Ensure archived blog images are hosted locally and properly linked to"
# Describe the bug
There are a lot of archived blog entries with remote images. Any with a URL that starts with `http://labs.creativecommons.org/` should be hosted from the same directory as the blog entry.

# Related  Links
- [Archive: CC Technical Blog (2007-2014) — Creative Commons on GitHub](https://opensource.creativecommons.org/archives/old-tech-blog/entries/)

[2019-11-17 03:59] techievivek commented on #131
@kgodey i would like to work on this.
Thank you

[2019-11-17 11:11] ritesh-pandey commented on #134
Can I take this up? You want all remote images (`http://labs.creativecommons.org/`) to be part of repository, right?

[2019-11-18 19:22] kgodey commented on #134
@ritesh-pandey yes, exactly. go ahead!

[2019-11-18 19:22] kgodey commented on #131
@techievivek go ahead! Please post your design on your pull request for feedback.

[2019-11-20 02:52] techievivek commented on #131
@kgodey could you please help me which one is better and should I add some important links in case the user would like to navigate once they are lost.
# First one
![error-404-2](https://user-images.githubusercontent.com/35863227/69204968-9574f680-0b6e-11ea-8edb-061ddfaa8fc2.png)
# Second one
![error-404-1](https://user-images.githubusercontent.com/35863227/69204969-960d8d00-0b6e-11ea-8983-77a8a8b0

[2019-11-20 05:09] ritesh-pandey commented on #134
I searched `archived` blogs for links beginning with `labs.creativecommons`. I found two posts where images used these remote URLs.
- content/archives/old-tech-blog/entries/flickr-image-re-use-for-openofficeorg-demo-availlable/contents.lr
- content/archives/old-tech-blog/entries/flickr-image-re-use-for-openofficeorg-new-updates/contents.lr

I made changes in these posts and raised PR.

There is an

[2019-11-25 07:13] techievivek commented on #131
@kgodey  mam please respond so that i can proceed further.
Thank you.

[2019-11-25 07:31] dhruvkb commented on #131
@techievivek if I may interject, I just want to make sure that you're using CSS for creating these designs and not images, because they may not scale that well. Even if you're using SVGs, they won't achieve the level of interactivity or internationalisation as HTML content which can be manipulated using JS or translated based on user locale.

[2019-11-25 09:29] techievivek commented on #131
@dhruvkb yes i am using HTML, CSS for the design(no images are used), but in first one the shapes has been created using svg, and the second one is just HTML,CSS & JS without svg.
So please tell me should i go with first one(it is completely responsive).

[2019-11-25 11:17] dhruvkb commented on #131
That decision is upto @kgodey. I just wanted to alleviate my concerns. She will respond once work resumes in [her TZ](https://www.timeanddate.com/worldclock/usa/ohio). Feel free to contribute to other open issues in the meantime!

[2019-11-25 15:06] techievivek commented on #131
I have added SVG image as a placeholder(showing 404 error) which is completely responsive for all the devices, please check it.

[2019-11-25 17:43] techievivek commented on #89
@kgodey hello mam, i have created a PR for [custom 404 error page](https://github.com/creativecommons/creativecommons.github.io-source/issues/131), please verify it or suggest change if any.
I would like to work on this one now.
Thank you.

[2019-11-25 19:13] kgodey commented on #134
@ritesh-pandey yes, please update the blog posts to not reference the remote URL.

[2019-11-26 00:02] kgodey commented on #131
hey @techievivek, sorry for the delay in responding. Your designs are good but we'd like a really simple/clean page that matches the rest of the site. It would be ideal if you could show the header and footer of the site as well.

Some examples along the lines of what I was thinking of (but with the header and footer added):
https://egyptianstreets.com/wp-content/uploads/2017/07/404.jpg
https://ww

[2019-11-26 00:03] kgodey commented on #89
@techievivek go ahead

[2019-11-26 00:10] kgodey commented on #107
hi @chimenekouomogne, sorry for the delay on getting back to you on this. Your work does not address this issue, but after thinking about it, I don't think this issue makes sense to implement at this time anyway.

We want people to be thoughtful about adding new authors and categories and this issue would automatically generate missing authors/categories, which would make errors harder to catch.

[2019-11-26 00:10] #107 closed

[2019-11-26 01:39] techievivek commented on #131
@kgodey This is what i have **PR**  and as a placeholder i am using **SVG image** with the same theme color as CC's brand color.(It is completely responsive and i have testesd it for different browser size).
# Navbar part
![header](https://user-images.githubusercontent.com/35863227/69592273-761d1400-101b-11ea-80e5-f2b266bfa64f.png)
# Footer Part
![footer](https://user-images.githubusercontent.com/

[2019-11-26 01:40] techievivek commented on #131
@kgodey it contains a link(Return Home) to redirect user to the Hompeage.

[2019-11-28 00:08] kgodey commented on #131
Hi @techievivek. The header and footer looks good! Please remove the image and just use text for the "404" part. Thanks!

[2019-11-28 15:00] techievivek commented on #131
@kgodey i have initiated a new **PR** with the design suggested by you, i am attaching a demo image for the same. Please check it and let me know if there is anything i can improve upon.
Thank you.
![404-custom](https://user-images.githubusercontent.com/35863227/69816076-a8965f00-121d-11ea-9fe0-ee25f2310704.png)

[2019-11-29 07:16] dhruvkb commented on #131
@techievivek sorry for these incremental iterations but why the green shadows? Also the frown emoji looks out of place.

[2019-11-29 07:38] techievivek commented on #131
Ok...thank you for the suggestions. I will change accordingly.
Can you kindly let me know if I should also remove the shadow completely or just change the color to black.

[2019-11-29 08:02] dhruvkb commented on #131
Black would look good.

[2019-11-29 13:19] techievivek commented on #131
@dhruvkb @kgodey i have updated as suggested and initiated a new **PR** , i am also attaching a demo image for the same.
![custom-404](https://user-images.githubusercontent.com/35863227/69871450-d42a4f80-12d8-11ea-8df7-d3048a4770b9.png)
If there is anything else i can improve upon please suggest.
Thank you.

[2019-12-02 22:44] #131 closed

[2019-12-02 22:45] #134 closed

[2019-12-07 20:20] techievivek commented on #89
@kgodey mam, I was having my semester exams. After going through the above issue I realized we have a well-built functionality for categorizing blogs so there will no much need for another such idea of categorization but what we can do/ improve is as **you have suggested**, in front of every blog we can also show the category it falls in.
So the user can navigate to that category or open the blog

[2019-12-09 23:51] kgodey commented on #89
hey @techievivek, I appreciate your initiative but this isn't what we're looking for. I don't think we need categories to be more visible on the blog entry list page.

A blog post series is not just another form of category, it's a specific way to denote multi-part blog posts. For example, all posts about a particular Google Summer of Code internship are part of a series. If you want to read the w

[2019-12-10 01:18] techievivek commented on #89
@kgodey I was not able to differentiate, Thank you, mam, for helping out, I will start working in the direction you suggested and I have understood the requirement well now.

[2019-12-11 06:10] techievivek commented on #89
@kgodey hello mam, i have created a PR with the detailed image explanation for every change, please have a look.
Thank you.

[2019-12-12 16:21] aldenstpage opened #146 "Poor mobile readability"
## Describe the bug
On vertical screens of a certain size, the text snaps to the left side of the screen and leaves a big margin on the right, making the text harder to read and the images much smaller.

## To Reproduce
You can reproduce this by viewing the blog on a mobile phone or by changing the window size on your desktop.

## Screenshots
![Here's how it looks on my mobile](https://i.imgur.com

[2019-12-13 18:29] techievivek commented on #146
@kgodey hello mam, if no one is working on this then i would like to work on this.
Thank you.

[2019-12-13 18:37] kgodey commented on #146
Go ahead

[2019-12-14 13:42] techievivek commented on #146
@kgodey mam i have fixed the bug and also changed the **text-align to justify **, please have a look and tell me if there is anything else i can improve upon.
Thank you.

[2019-12-17 03:15] techievivek commented on #146
@kgodey hello mam, actually I have merged the branches(master and blog series one), so whenever i am trying to PR for poor mobile readability issue it is taking content from both the branches. I am not getting any clue to resolve this, please help me or else once you will verify the blog series one i will add poor mobile readability PR.
Thank you.

[2019-12-18 00:33] kgodey commented on #146
@techievivek I'd advise creating a new branch off of current `master` and recreating the changes.

You can also try rebasing your commits for poor mobile readability onto the current `master` branch and pushing that rebased branch. https://git-scm.com/book/en/v2/Git-Branching-Rebasing

[2019-12-18 01:20] techievivek commented on #146
@kgodey thank you mam, i will try it.

[2019-12-18 02:45] techievivek commented on #146
@kgodey hello mam Thank you and I have created the PR as you advised, please have a look.
Thank you

[2019-12-18 16:16] #146 closed

[2019-12-18 21:04] techievivek commented on #89
@kgodey hello mam, i have created new PR with the change you guided me.
**1. For changing the position and removing whitespace before colon**
![series under post](https://user-images.githubusercontent.com/35863227/71122724-4242a200-2207-11ea-8054-7c023060d9b6.png)
<br>
**2. All post for a given series under the post content**
![list-all-post](https://user-images.githubusercontent.com/35863227/7112

[2019-12-20 21:57] #89 closed

[2020-01-07 07:25] techievivek commented on #100
@kgodey mam If this is not fixed I will love to work on this one.
Thank you.

[2020-01-08 23:55] kgodey commented on #100
@techievivek go ahead

[2020-01-12 17:16] techievivek commented on #100
@kgodey hello mam, I tried solving this issue but since all the blog posts need not have image how will we able to show the featured image for same, I think @SamOdum idea is one we can go with.
Or please suggest me something so that I can move forward with or think about it.
The main problem is with the featured image, the description part can be done easily.
Thank you.

[2020-01-13 23:48] kgodey commented on #100
We should use the first image on the page/blog post if it exists, otherwise we should not have a featured image at all.

[2020-01-14 06:01] techievivek commented on #100
@kgodey so in case if no images are part of blog/page can we use cc logo. So that it looks genuine and better while sharing.

[2020-01-14 15:28] kgodey commented on #100
I think it's best to skip the featured image entirely if there's no image in the post/page.

[2020-01-22 18:55] hugosolar opened #159 "Move information about old GSoC projects to CC Open Source"
We'd like to move old information about CC's participation in Google Summer of Code from the public wiki to the Internships > History section of CC Open Source.

https://wiki.creativecommons.org/wiki/Summer_of_Code_2006
https://wiki.creativecommons.org/wiki/Summer_of_Code_2007
https://wiki.creativecommons.org/wiki/Summer_of_Code_2008
https://wiki.creativecommons.org/wiki/Summer_of_Code_Selection_C

[2020-01-22 18:56] hugosolar opened #160 "Document Engineering Liaison on the website"

[2020-01-22 18:56] hugosolar opened #161 "Fix issue where :warning: shows up on Projects page on CC Open Source instead of emoji"

[2020-01-22 18:56] hugosolar opened #162 "Fix justified text in project list"

[2020-01-24 15:07] #162 closed

[2020-01-28 07:02] techievivek commented on #100
@kgodey hello mam, I have almost worked on this issue but just some queries before I start a pull request.
1. For index page i.e. opensource.creativecommons.org , since I am getting first image by default(if there), so here it is not showing CC logo rather a black & white keyboard image, as that is the first image for this page.
2. Description part of meta tag, I don't know what I have to put here

[2020-01-28 21:09] hugosolar commented on #161
We can add a javascript plugin to replace the emoji shortcodes
I've found [Js-emoji](https://github.com/iamcal/js-emoji) which uses the default browser support for Emojis
What do you think about that @kgodey ?

[2020-01-29 18:35] hugosolar commented on #161
@kgodey could you please share to me the python script who generates the project list to use it this [Emoji library](https://pypi.org/project/emoji/)
As we talk, is a better approach to solve the problem

[2020-01-29 21:22] techievivek commented on #100
@kgodey hello mam, should i create a pull request and then you will check it out?

[2020-01-30 00:01] kgodey commented on #100
@techievivek
1. that's fine
2. what errors are you running into with the Lektor plugins?

[2020-01-30 19:26] techievivek commented on #100
@kgodey hello mam, I have added both striphtmltags and markdown-excerpt plugin to the project so that I can convert body content into plain text and then just get the first line content using markdown-excerpt.
I have added by running the command
[code]
This is the content of file _.lektorproject_ after I run the above command.
![lektor diff](https://user-images.githubusercontent.com/35863227/73482

[2020-01-31 19:37] techievivek commented on #100
@kgodey hello mam, please look into this.
Thank you

[2020-01-31 20:26] kgodey commented on #100
@techievivek please create a PR so that I can see why the error is happening.

[2020-02-01 17:43] techievivek commented on #100
@kgodey mam, I have created a PR, please look into it.
Thank you

[2020-02-02 18:18] Gbahdeyboh opened #169 "GSoC project ideas page should allow selection of both difficulty level and a tool of choice"
## Problem Description
On the GSoC project Ideas page, a visitor can select **only one** of the following seven categories to sort out project ideas of interest

- All Projects
- Difficulty: Easy
- Difficulty: Medium
- Difficulty: Hard
- Skill: JavaScript
- Skill: Python
- Skill: WordPress

[https://opensource.creativecommons.org/gsoc-2019/project-ideas/difficulty-easy/](https://opensource.creativ

[2020-02-04 19:49] kgodey commented on #169
The GSoC project ideas page is no longer up, but we have a new project ideas page with the same issue: https://opensource.creativecommons.org/internships/project-ideas/

[2020-02-04 20:21] Gbahdeyboh commented on #169
Thanks for the update @kgodey.

It would also be nice to be able to select multiple skills. There are projects that require knowledge of both python and JavaScript to complete.

[2020-02-05 12:31] mathemancer opened #172 "CC.org is not associated with Creative Commons, but is the text of one of the tabs."
At the top of the page (in the navigation bar) one of the tabs is called 'CC.org'.  Unfortunately, if a user types that into their address bar rather than clicking the link, they will end up at the website of the [Christian Coalition](http://cc.org), which would not be what they expect.  The tab should either read 'creativecommons.org', or perhaps just 'Creative Commons' to avoid confusion.

[2020-02-05 15:12] #172 closed

[2020-02-06 19:28] kgodey commented on #161
@hugosolar uploaded here: https://github.com/creativecommons/ccos-scripts/tree/master/generate_projects_page

[2020-02-07 18:56] monsij opened #176 "Discrepancy in difficulty levels"
The filter menu at [project idea page](https://opensource.creativecommons.org/internships/project-ideas/all/) mentions difficulty levels as **Easy, Medium and Hard**. On the other hand, the ideas mentioned are classified as having difficulty either **Low, Medium or High**.  I am not sure if [Easy,Low] , [Hard, High] are to be treated separately. Otherwise, this might be a bug.

[2020-02-07 19:01] kgodey commented on #176
It's a bug, the difficulty should match the filters. Low should be renamed to Easy and High should be renamed to Hard.

[2020-02-07 19:04] monsij commented on #176
I'm up for it @kgodey

[2020-02-10 12:02] techievivek commented on #100
@kgodey hello mam, did u have a look at it?

[2020-02-11 00:31] #176 closed

[2020-02-11 00:31] kgodey commented on #100
Not yet, it will take me a couple more days, sorry.

[2020-02-11 02:06] techievivek commented on #100
@kgodey Ok mam, sure. I am looking at other repo under CC.

[2020-02-17 07:34] techievivek commented on #169
@kgodey I will like to try to implement this feature if no one is working on it. This feature will be really handy if implemented.
Thank you

[2020-02-18 23:35] kgodey commented on #169
Go ahead @techievivek

[2020-02-19 11:15] techievivek commented on #100
@kgodey Mam, can we just show the image (first one in the post) and the title while sharing on different platform.( we can skip the description part).
I am attaching a picture on how it looks while sharing for the above condition.
![Screenshot_20200219-164139](https://user-images.githubusercontent.com/35863227/74829382-f01d1a80-5336-11ea-98fb-98cec5dd157f.jpg)
( The link part will be of the CC sit

[2020-02-21 14:22] techievivek opened #182 "Back to top button not working on small screens once the user has reached footer."
## Describe the bug
Back to top button is not working for the small screen(around 700px or less) once the user navigates to the footer of the page.

## To Reproduce
Steps to reproduce the behaviour:
1. Visit any page which has Back to top button visible, scroll down to the footer of the page and try clicking on the Back to top button, it will get stuck.

## Expected behavior
It must take back to t

[2020-02-21 16:30] techievivek commented on #100
@kgodey mam please take a look at above suggestion.

[2020-02-21 16:46] kgodey commented on #100
@techievivek I think GitHub ate my last comment because I definitely replied to this :/

Yes, we can skip the description for now. Could you make a separate GitHub issue for adding the description once this is merged? We can tackle that separately.

[2020-02-21 16:52] techievivek commented on #100
@kgodey Yes mam I will do that. Also please take a look at one of the bug that I experienced today here #182

[2020-02-21 16:54] techievivek commented on #182
@kgodey Whenever Back to top button floats over footer part, It stops working for **Small screen devices**, I have verified this from my phone and also by minimizing the browser on minelaptop.

[2020-02-21 16:54] kgodey commented on #182
Thanks for reporting this @techievivek

[2020-02-21 19:19] hedonhermdev commented on #182
Hey! I would like to work on this issue.

[2020-02-21 19:24] techievivek commented on #182
@hedonhermdev please go ahead. To edit the content you will have to go to **templates** folder and then into **layout.html** file.

[2020-02-21 19:37] techievivek commented on #100
@kgodey I have created a new PR, please have a look. And I will add a new issue for the description part.

[2020-02-21 19:57] techievivek opened #184 "description content for optimised social sharing"
## Problem Description

Add the description content to be shown while sharing the link on Facebook and Twitter.
![image-preview](https://user-images.githubusercontent.com/35863227/75095102-a42cd880-55b7-11ea-9158-07c4ffc4efc5.jpg)

From the above image, you can see the **description part** is missing. Only the title and image are shown.

## Solution Description
I have already added the [image prev

[2020-02-21 20:01] techievivek commented on #100
@kgodey I have added a new issue for description part, please have a look and suggest if I have to change anything.
#184

[2020-02-21 20:42] hedonhermdev commented on #182
Hey, I think that this could be fixed by changing the `z-index` css property of the back-to-top button. But I realised that the CSS files are built and are not part of the repository. How should I modify the css file that is built?

[2020-02-21 20:45] kgodey commented on #182
CSS is built from this file in the repo: https://github.com/creativecommons/creativecommons.github.io-source/blob/master/webpack/sass/main.scss

[2020-02-21 22:49] #161 closed

[2020-02-22 15:36] techievivek commented on #182
@hedonhermdev Yeah, that's perfect.

[2020-02-22 15:38] hedonhermdev commented on #182
Waiting for review!

[2020-02-22 16:12] techievivek commented on #169
@kgodey Mam can you please tag the developer who has implemented this feature, as this seems tough with the current directory structure and given code logic.
Because suppose a person has clicked on a difficulty level now we will show them **two different links **
like https://opensource.creativecommons.org/internships/project-ideas/difficulty-easy/ so that he can choose another difficulty level an

[2020-02-24 16:57] techievivek commented on #184
@kgodey Mam, Please add labels to this issue so that somebody can take it.

[2020-02-24 21:20] kgodey commented on #184
thanks for creating this @techievivek

[2020-02-24 21:33] kgodey commented on #169
I implemented this feature.
Under the current implementation, we would have to generate a new page for every single combination of filters, which will probably get infeasible. The better way is probably to scrap the current implementation and implement filtering on the client side using JavaScript.

[2020-02-25 02:42] pavitra14 commented on #169
I would like to take up this issue if no one else is doing it.
I can write up a logic on the client side javascript to filter things out.

[2020-02-25 03:05] techievivek commented on #169
@pavitra14 please go ahead.

[2020-02-25 03:13] techievivek commented on #169
@pavitra14 Also if you need any help, feel free to tag me.

[2020-02-25 08:38] nik-gautam commented on #184
Can I work on this issue?

[2020-02-25 08:46] techievivek commented on #184
@nik-gautam go ahead.

[2020-02-25 13:04] nik-gautam commented on #184
@techievivek where can I find the latest code with the previous image fixes that you made?

Thanks.

[2020-02-25 13:07] techievivek commented on #184
@nik-gautam Check here https://github.com/creativecommons/creativecommons.github.io-source/pull/183

[2020-02-25 13:13] #182 closed

[2020-02-26 11:50] techievivek commented on #169
@kgodey @pavitra14 I think it will be better to make use of **current URL** the user is in.
There can be 3 cases:-
1. If they are on **all**, on clicking any difficulty level or skill we can directly make them navigate to that page.
2. If they are on a particular difficulty level they can **either** navigate to all or to a skill, so accordingly we can do by looking at **href** of clicked link.
3.

[2020-02-26 11:58] pavitra14 commented on #169
@techievivek I do not intend them to navigate, I wanted to do it all from a single page.
Right now, I added data-filters to each button and assigned filter values to each idea via classes.
Rest is handled automatically via jQuery and Event handlers.
I did not need to edit the contents much, only had to add a filter-value variable in the model.
Also, the user must be able to selected multiple filte

[2020-02-26 12:06] techievivek commented on #169
@pavitra14 Yeah, I think this will be better, I suggested above one if you dont want to change anything in content folder.
Lets wait for @kgodey as she is one who implemented it.

[2020-02-26 12:38] pavitra14 commented on #169
@techievivek
Also we will any how need to edit the **content** as the old redundant content needs to be removed.
Since we're showing everything on the front end, there's no need for the skill/difficulty category folders inside content anymore.
This was requested in the review by @kgodey

[2020-02-26 13:05] techievivek commented on #169
@pavitra14 Yes If we have to do everything in frontend then definitely we dont need any folder more.
I have seen your updated PR, its perfect.

[2020-02-26 13:09] pavitra14 commented on #169
Removed the redirect /internships/project-ideas/all
Now the /internships/project-ideas/ is the root folder for all ideas.
Compatibility checked with lektor and can be easily managed via the admin backend.

[2020-02-26 13:10] techievivek commented on #184
@kgodey Can't we use JavaScript here too to add meta description once the DOM content is loaded rather then going for plugins to strip HTML and get excerpt.
It will be easy to implement.
I have gone through some articles on setting meta data using JS, if we can do before the page loads fully there won't be an issue.
We will wait for @nik-gautam if he has any other plans for same.

[2020-02-26 13:12] techievivek commented on #169
@pavitra14 perfect one👌

[2020-02-26 23:49] kgodey commented on #184
@techievivek could you link the articles you read here?

[2020-02-27 04:29] nik-gautam commented on #184
@techievivek I think will be easier to use javascript.
Till now, I have been trying to fix the issue with `strip-html-tags` plugin.

A problem that I faced was were to get info from, because as far I saw there is no common p-tag or any other tag that every page has (which contains the info we want to display), so common script cannot be ran for all.

Also, my mid-sem exams are going on right now,

[2020-02-27 06:49] techievivek commented on #184
@kgodey Here is one they are doing using Jquery https://stackoverflow.com/questions/9231845/javascript-to-change-metadata-metatags-dynamically
(I have not tested this myself for now). There are some speculations that FB doesn't run JS code. And I have gone through some articles looking for its effect on SEO, but luckily google crawlers can run JavaScript.
Here is from their official developer webs

[2020-02-27 06:52] techievivek commented on #184
@nik-gautam All the post/page have content stored in content folder, we can use frontend html-stripping and get first 20 words to be part of meta description tag.
When we do html-stripping it will take care and will return us just the text content.

[2020-02-27 07:04] techievivek commented on #184
@nik-gautam @kgodey It might not be possible with JS https://stackoverflow.com/questions/25420887/does-facebook-crawler-currently-interpret-javascript-before-parsing-the-dom
I will try then locally and will confirm by today. Also if this doesn't we will see for alternate from lektor itself.

[2020-02-27 08:20] nik-gautam commented on #184
@techievivek js won't work with Facebook crawler...

I did some research, it turns out that fb gets the data by crawling and looking for og meta tags, before loading the DOM. So, any changes via JavaScript on DOM won't work.

Data has to added before generating the static HTML files in lektor.

[2020-02-27 10:14] techievivek commented on #184
@nik-gautam Yes, I tested it, it's not working. Try doing it with lektor plugins itself.

[2020-02-28 18:25] annatuma opened #189 "CC Open Source Redesign"
## Problem Description / Context
Starting in 2019, Creative Commons began developing a design framework for use across CC web products. During Q1 of 2020, we expect to have the first complete version of the design library (known as Vocabulary), ready for use in future designs, and redesigns of existing products.

By the end of 2020, the goal of the Tech & Product team at Creative Commons is that a

[2020-02-28 19:10] panchovm commented on #189
It looks perfect

[2020-02-28 20:38] pranshuls12 commented on #189
Can I work on this ?

[2020-02-29 05:01] Dhruvi16 commented on #189
Looks great!

[2020-02-29 18:59] Parimal7 opened #190 "Link gives 404 error in the project ideas page."
## Describe the bug
The project listed [here](https://opensource.creativecommons.org/internships/project-ideas/all/#legal-database) has a broken link. Under sub-heading "The Problem", the third bullet point "It does not use Vocabulary, CC’s new web design system.", Vocabulary hyperlink gives error 404.

## To Reproduce
Steps to reproduce the behavior:
1. Go to ['project ideas page'](https://openso

[2020-02-29 19:00] Parimal7 commented on #190
If possible can I solve this issue ? I am already assigned to another issue but stuck atm due to building problems so may I solve this in the mean time?

[2020-03-02 08:34] nnadidan360 commented on #190
i would love to fix this issue and i also need to get the source code for the page

[2020-03-02 11:38] #100 closed

[2020-03-02 15:28] techievivek opened #191 "Github repo link on top left corner is not clickable on mobile devices."
## Describe the bug
GitHub repository link for CC opensource website is not clickable on mobile devices and thus donot redirect to CC opensource website GitHub repo. And also the design can be changed a bit as it is almost unrecognisable as GitHub logo.

## To Reproduce
Steps to reproduce the behavior:
1. Open the site in mobile.
2. Try clicking on the top left corner (github icon).
3. It doesn't

[2020-03-02 17:02] annatuma commented on #189
This is currently being worked on by @Dhruvi16 with oversight from myself and @panchovm. Thank you for your interest @pranshuls12, please look for other tickets open to community contribution. You're also welcome to tackle https://github.com/creativecommons/vocabulary/issues/151

[2020-03-03 06:34] techievivek commented on #48
@kgodey I have seen similar issues in other repo too and would like to work on this. I have no prior experience with CI/CD but I have gone through some blogs from circleci website and would like to learn this in detail. I will first work with some dummy repos and once confirmed I will update you.
Also please guide me through this as I am completely new to this but very fascinated to learn about it

[2020-03-03 09:36] harsh551 commented on #191
Hey, I want to work on this issue if this is available.

[2020-03-03 15:20] kgodey commented on #191
Go ahead. Please don't change the design though.

[2020-03-03 15:28] kgodey commented on #48
@techievivek we've actually started using GitHub Actions on our other repos, I think we should use GitHub Actions here too. are you still interested?

[2020-03-03 15:30] kgodey commented on #190
The link should point to https://cc-vocabulary.netlify.com/.

Assigning to @Parimal7 since they expressed interest first.

[2020-03-03 15:53] techievivek commented on #48
@kgodey Yes, I am interested to learn this. Both are new for me so I will definitely go with it. I will first work with some dummy repo of mine and then I will update you here.
Also please guide me through this as it is something that I am very new to. I will try going through official documentation/video for the same.

[2020-03-06 18:38] techievivek commented on #48
@kgodey I have written this code for push event, can you please help me with it.
Also please tell me what and all event we are registering for.
`name: Building and Deploying CC opensource site
on: [push]
jobs:
 build-and-deploy:
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@v2
   - name: Cache
      uses: actions/cache@v1
      with:
        path:
         - .cache/pip
         - .

[2020-03-06 18:40] techievivek commented on #48
@kgodey Here is the screenshot for same as the formatting has been altered above.
![gnome-shell-screenshot-AW83G0](https://user-images.githubusercontent.com/35863227/76112354-0fd76280-6008-11ea-8f6a-5a110d7fac3c.png)

[2020-03-06 18:45] terrifricker opened #198 "Spelling error in https://opensource.creativecommons.org/community/"
## Describe the bug
In the list of slack channels, on page
https://opensource.creativecommons.org/community/
there is a missing 'l' in toolkit in the link to 'CC Platform Tookit'

## To Reproduce

1. Go to https://opensource.creativecommons.org/community/
2. Scroll down to the Slack channels table.
3. In the third entry from the bottom
4. The link to the #cc-outreachy-platform-toolkit that is in t

[2020-03-06 18:46] terrifricker commented on #198
I would like to be assigned to this issue.

[2020-03-06 18:54] dhruvkb commented on #198
@terrifricker please go ahead and submit a PR fixing it.

[2020-03-06 19:03] techievivek commented on #48
@dhruvkb Can you help me with as @kgodey will be on holiday till Tuesday.
I am beginner to CI/CD I have written above syntax to build and deploy to CC opensource site. In deploying process it is asking for folder and branch but as the repo for generated file for CC opensource site is different one, how can I link?
Thank you.

[2020-03-06 19:08] techievivek commented on #48
@TimidRobot Please have a look into this. I am trying to build and deploy.

[2020-03-06 19:18] techievivek commented on #48
Thank you for replying. Yes, I am familiar with guideline and have been an active contributor for CC from last 2-3 month, I was looking for some help in this issue as I am new to CI/CD.

[2020-03-06 19:18] techievivek commented on #48
Thank you, I will go through it.

[2020-03-08 16:30] Abhishek856 commented on #169
hello , My self Abhishek mishra , I want to work on this issue.

[2020-03-08 16:32] Abhishek856 commented on #169
can i work on this

[2020-03-08 16:36] pavitra14 commented on #169
Kindly go through the issue, I've already sent a PR, writing tests is left, if you can do that, kindly checkout the linked PR.

[2020-03-08 16:58] Abhishek856 commented on #48
can i work on this issue

[2020-03-08 17:10] techievivek commented on #48
@Abhishek856 Hey Abhishek, I am sorry but I am working on this issue and I have already tested the CI part, working on to implement the CD part. There are similar issues on different repo where you have to use CI/CD using Github actions, so I will recommend going with those.

[2020-03-08 18:33] nik-gautam commented on #184
@techievivek @kgodey I have somewhat fixed the issue.

https://github.com/nik-gautam/creativecommons.github.io-source/tree/description_for_social_media_sharing

Can you check it before I make a PR?

[2020-03-09 05:47] nik-gautam commented on #184
@kgodey @techievivek
Please take a look at this PR.

[2020-03-09 05:55] techievivek commented on #184
@nik-gautam It's good. If possible please add a screenshot so that it will easy to see the end result. @kgodey will be available after Tuesday till then you can look for other issues.

[2020-03-10 15:50] JuanitoAlimana commented on #161
Cut it.

Sent from iPhone

﻿
Closed #161 via creativecommons/ccos-scripts#3.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-11 17:46] #198 closed

[2020-03-11 21:02] #169 closed

[2020-03-11 21:14] #190 closed

[2020-03-12 10:51] #191 closed

[2020-03-13 15:26] #48 closed

[2020-04-02 21:41] #184 closed

[2020-04-02 23:14] TimidRobot opened #216 "extract-text-webpack-plugin@3.0.2 deprecated"
## Describe the bug
Warning message:
[code]

Replacing `extract-text-webpack-plugin` with `mini-css-extract-plugin` is easy enough, but I don't know how to verify the change (I'm not a frontend developer):
1. `npm remove extract-text-webpack-plugin`
2. `npm install --save-dev mini-css-extract-plugin`
3. ...
4. Profit!

Someone with better familiarity needs to update the package used and verify tha

[2020-04-03 16:59] TimidRobot opened #218 "README is missing info about webpack / npm / node"
## Describe the bug
There is no information on webpack's dependencies in the [README](https://github.com/creativecommons/creativecommons.github.io-source/blob/master/README.md).

(Webpack is invoked via [lektor/lektor-webpack-support](https://github.com/lektor/lektor-webpack-support))

## Expected behavior
At a minimum, there should be information about what is required on macOS using [Homebrew](h

[2020-04-03 17:28] kgodey commented on #218
Webpack dependencies are tracked via `package.json`: https://github.com/creativecommons/creativecommons.github.io-source/blob/master/webpack/package.json

[2020-04-04 21:52] leinadzaid21 opened #222 "Yei"
Star

[2020-04-06 13:45] SaurabhAgarwala commented on #218
@TimidRobot Do you mean the dependencies required to install webpack (namely node and npm) are missing in the [README](https://github.com/creativecommons/creativecommons.github.io-source/blob/master/README.md)?

If yes, then I will like to work on this issue and add them up

[2020-04-06 18:32] #216 closed

[2020-04-06 18:36] #218 closed

[2020-04-08 15:33] TimidRobot opened #224 "Add syntax highlighting via lektor-markdown-highlighter"
## Problem Description
Currently, there is no code syntax highlighting and code samples are harder to read. For example, look at the short GNU Bash snippet on [NVMEe on Debian on AWS — Creative Commons on GitHub](https://opensource.creativecommons.org/blog/entries/2020-04-03-nvmee-on-debian-on-aws/).

## Solution Description
- [ ] Add lektor plugin: [lektor/lektor-markdown-highlighter](https://git

[2020-04-08 16:24] TimidRobot opened #225 "Add default table styles"
## Problem Description
Currently, there are no default styles applied to markdown tables.

For example, compare the short table on [NVMEe on Debian on AWS — Creative Commons on GitHub](https://opensource.creativecommons.org/blog/entries/2020-04-03-nvmee-on-debian-on-aws/) to the styling applied here in a GitHub issue. The same table, below, is much easier to read:

| Jinja2 Variable     | Example

[2020-04-08 17:12] SaurabhAgarwala commented on #224
I would like to work on thisI would like to work on this

[2020-04-08 19:54] sp35 commented on #225
Working on this

[2020-04-09 19:29] #224 closed

[2020-04-11 06:05] techievivek opened #229 "Github Corner Icon overshadow the CC logo in small screen devices."
## Describe the bug
The GitHub corner icon in the navbar overshadows the CC logo in small screen devices.

## To Reproduce

1. Go to CC open-source website on a smartphone.
2. It will be visible that GitHub corner overshadows CC logo.

## Expected behavior
There must be a bit space between both the images and shouldn't overlap.

## Screenshots
![github icon shadows CC logo](https://user-images.git

[2020-04-13 22:38] steinybot opened #231 "Wrong license for content"
## Describe the bug

I could be way off base here so forgive me if I am wrong.

I came here to find an example of how to structure a git repository for a website whose contents were licensed under a CC license but the website source code is under another license such as MIT.

The [website](https://opensource.creativecommons.org/) says that "all icons are from Font Awesome, licensed under a Creativ

[2020-04-17 23:02] #225 closed

[2020-04-17 23:12] akmadian opened #233 "Add page for search roadmap export script"
A page will need to be added to get the information from the search roadmap export script loaded into it. I'm not sure exactly what this will look like in terms of the code specifics, but I'll investigate. This issue is just to track the task and facilitate discussion.

[2020-04-20 12:05] hugosolar commented on #229
We consider the Github Corner over the CC logo make sense
So this is not an issue

[2020-04-20 12:05] #229 closed

[2020-04-24 14:46] #231 closed

[2020-04-28 20:30] akmadian opened #236 "Indentation error on community teams page"
## Describe the bug
The "This is a great way to document the time spent in the CC community, and gives a good opportunity for introspection." bullet point under "How to Contribute" should be indented under the bullet above it, but it's not.

## To Reproduce

1. Go to https://opensource.creativecommons.org/community/community-teams/#how-to-contribute
2. See Error

## Expected behavior
The line high

[2020-04-28 20:30] #236 closed

[2020-04-28 20:37] akmadian opened #237 "Indentation errors in "How to Contribute" section on Community Teams page"
## Describe the bug
There are some indentation errors in the "How to Contribute" section in the Community Teams page. Some lines are not indented, when they should be indented by one level. See the attached screenshot, the lines that are highlighted should be indented one level deeper.

## To Reproduce

1. Go to https://opensource.creativecommons.org/community/community-teams/#how-to-contribute
2.

[2020-04-29 10:24] SaurabhAgarwala commented on #237
I will work on this.

[2020-04-29 11:08] SaurabhAgarwala commented on #237
I have identified three more bugs on this page and bring them to notice and correct them as well.

1. I think the words `Community Contribuotor` and `Community Collaborator`were supposed to be bolded but it isn't and instead is getting reflected as embedded in double asterisks(**).
![Not Bolded](https://user-images.githubusercontent.com/32371951/80588389-e6e6b300-8a35-11ea-9ec8-c38c3c7a335e.png)

[2020-04-29 17:09] #237 closed

[2020-05-04 19:36] kgodey opened #241 "Add Slack channels to project list on Projects page"
## Description
Our Projects page should include the Slack channel for projects, if they have one.
https://opensource.creativecommons.org/contributing-code/projects/

## Additional context
This will also entail updating the CC metadata YAML file in repos to include the Slack channel information and updating the data gathering script (https://github.com/creativecommons/ccos-scripts/tree/master/gener

[2020-05-04 19:37] kgodey commented on #241
This was suggested by @obulat.

[2020-05-11 21:19] kgodey opened #248 "Convert HTML tables to Markdown tables"
## Overview
Now that we have tables styled by default in [Add default styling for tables by sp35 · Pull Request #227 · creativecommons/creativecommons.github.io-source](https://github.com/creativecommons/creativecommons.github.io-source/pull/227), we should replace instances of HTML tables with tables formatted in Markdown wherever possible. It will make things more readable.

## Notes on PRs
Feel

[2020-05-11 21:26] kgodey opened #249 "Allow support for historical project ideas"
## Description
Currently, the way our internship project ideas are set up only allows one set of project ideas to be live at a time. We'd like to show historical project ideas on our website as well.

## Additional context

- [Project ideas template](https://github.com/creativecommons/creativecommons.github.io-source/blob/master/templates/project-ideas.html) (line 10 hardcodes the project idea loc

[2020-05-11 21:26] kgodey commented on #249
Please put your implementation ideas here for discussion before sending a PR.

[2020-05-12 01:02] bhavybarca commented on #248
Working on this issue.

[2020-05-12 05:51] theprover97 commented on #249
@kgodey We can add Project Titles under the bullet of each year. Under it, we can give a short description, including the Student and Mentor name.
The GSoC'19 bullet carries blog links for all projects, so we can also include short description and names. However, the project links should come under a sub-heading of Projects to separate them from other links.
The link of 'Open Source Blog Posts' me

[2020-05-12 05:52] theprover97 commented on #249
Please give your views on it.

[2020-05-12 06:18] theprover97 commented on #241
@kgodey Here are some slack channels that I found for the projects.
# cc-dev-license-chooser,  # cc-dev-linkchecker,   # cc-dev-catalog,   # cc-dev-cc-catalog-viz,   # cc-dev-browser-extension,   # cc-certificates,   # cc-search,   # cc-dev-vocabulary.
Can i code them to include in the projects?

[2020-05-12 09:07] rajat2502 opened #251 "Fix typos and grammatical errors"
There are some grammatical errors in the `/internships/applicant-guide/` page that needs to be fixed.

- ![image](https://user-images.githubusercontent.com/42200276/81664814-7f7d2a00-945d-11ea-8979-978e9b158ae3.png)
Should be `contacting` in place of `contact`.

- ![image](https://user-images.githubusercontent.com/42200276/81664921-a6d3f700-945d-11ea-9a2c-60918594770b.png)
Should be `Also,` in pla

[2020-05-12 13:55] kgodey commented on #251
@rajat2502 thank you for reporting these. Please go ahead and fix the first two issues you mentioned.

Re: "open source", we prefer to use it unhyphenated.

[2020-05-12 14:02] rajat2502 commented on #251
Sure, I will make a PR to fix both of them.

[2020-05-12 15:17] rajat2502 commented on #251
Hey @kgodey, I am not able to make a pull request, I think the rights are disabled right now.
![image](https://user-images.githubusercontent.com/42200276/81711923-ba00ba00-9491-11ea-9fb4-71601247509f.png)

[2020-05-12 15:26] rajat2502 opened #252 "Fix grammatical errors in README"
There are some errors in `README` file
- ![image](https://user-images.githubusercontent.com/42200276/81712489-46ab7800-9492-11ea-8ad1-9a523ea497fa.png)
`is` should be replaced by `are`.

-  ![image](https://user-images.githubusercontent.com/42200276/81712687-896d5000-9492-11ea-934d-584dcb76497b.png)
Should be `in the` in place of just `in`.

[2020-05-12 15:54] fakela commented on #251
@rajat2502 are you sending in a PR for this

[2020-05-12 15:56] rajat2502 commented on #251
@fakela Yeah, I just made a PR for the same.

[2020-05-13 06:31] chetan-v commented on #252
Hi I want to do that

[2020-05-14 17:56] pranay-ar opened #256 "Fix typos and grammatical errors on Code of Conduct page"
There are two grammatical errors in the /community/code-of-conduct/  page that needs to be addressed.

_In the interest of fostering an open and welcoming environment, we as contributors and maintainers pledge to **making** participation in our project and our community a harassment-free experience for everyone...._

- Should be **make** instead of **making**  (the verb form was used wrong here.)

[2020-05-15 04:42] chetan-v commented on #256
@pranay-ar I wanna work on it

[2020-05-15 19:37] kgodey commented on #256
@pranay-ar @chetan-v these are both not errors. "making" is perfectly valid in that context, and the comma there is the Oxford comma. We're also using the Contributor Covenant verbatim and don't want to make any changes to it since it's a widely used document.

[2020-05-15 19:37] #256 closed

[2020-05-15 19:43] kgodey commented on #249
@theprover97 I don't understand the solution you are proposing. Could you explain in more detail with screenshots if you're proposing UI changes or references to lines of code where you're proposing code changes?

Thanks!

[2020-05-15 19:45] kgodey commented on #252
(1) "CSS" is singular, so it should be "is." Please leave it as-is.
(2) Yes, it should be "in the" instead of "in".

[2020-05-15 19:45] #251 closed

[2020-05-15 19:46] rajat2502 commented on #252
Should I make a PR for the same?

[2020-05-15 19:49] kgodey commented on #252
sure

[2020-05-18 15:45] #233 closed

[2020-05-18 19:24] #252 closed

[2020-05-18 21:02] #241 closed

[2020-05-19 01:26] sp35 opened #260 "Incorrect link to Community Team Page on Community Team Members"
## Describe the bug

## To Reproduce

1. Go to [Community Team Members](https://opensource.creativecommons.org/community/community-team/members/)
2. Look at For more information about CC Community Team, please see [the Community Team Page](https://opensource.creativecommons.org/content/community/community-teams/).

## Expected behavior

Change the URL to point at https://opensource.creativecommons

[2020-05-19 20:05] kgodey commented on #260
Thanks for spotting this, @sp35

[2020-05-20 08:52] chetan-v commented on #260
@sp35 @kgodey I wanna do that

[2020-05-20 09:14] sp35 commented on #260
@chetan-v Go ahead!

[2020-05-20 17:18] chetan-v commented on #260
@sp35  I tried but unable to find that link

[2020-05-20 18:05] sp35 commented on #260
From this [page's contents](https://github.com/creativecommons/creativecommons.github.io-source/blob/master/content/community/community-team/members/contents.lr), I could find that the template name is `community_team_list.html`

Heading to [community_team_list.html](https://github.com/creativecommons/creativecommons.github.io-source/blob/master/templates/community_team_list.html), I see the HTML

[2020-05-20 22:14] annatuma opened #267 "Create new page: "Usability""
We now have content ready for a new page on CC Open Source. The new page is called "Usability" and [the content is available here](https://docs.google.com/document/d/1MwOz1UvsO5jfR1pRQtqd1rbpzHe78tKBHf9IGbohzfA/edit?usp=sharing).

Please note that links are indicated in parentheses throughout the document. The appropriate preceding text should be hyperlinked and links should be set to open in a ne

[2020-05-20 22:17] annatuma commented on #267
@akmadian if you think this is a good first issue please mark it as so. I did take a look at what you did to [create the CC Search page](https://github.com/creativecommons/creativecommons.github.io-source/pull/245/commits/862cd423ec55c4cb5d2e0901715cf3e2a2e092d8), and I think if someone followed that as a model this is pretty approachable.

@kgodey and @akmadian a detail I'd like your input on is

[2020-05-20 22:22] annatuma opened #268 "Add link to Usability page on CC Search page"
At the bottom of the CC Search page we reference our forthcoming Usability page.

Once https://github.com/creativecommons/creativecommons.github.io-source/issues/267 is complete, we need to update the CC Search page to update the text at the bottom of the page and add the link in.

Note: this ticket is blocked until https://github.com/creativecommons/creativecommons.github.io-source/issues/267 is

[2020-05-21 05:01] chetan-v commented on #260
@sp35  In my repo there is no community_team_list.html

I clone it again but nothing happens
![creativecommons github io-source_templates at master · chetan-v_creativecommons github io-source - Google Chrome 21-05-2020 10_28_59](https://user-images.githubusercontent.com/63091769/82525061-1af15780-9b4e-11ea-83e6-2aab86dea431.png)

that's

[2020-05-21 20:00] akmadian commented on #267
I'll be working on content organization updates for the open source site very soon, for now, I think under "Contribute" is a good place.

[2020-05-21 23:07] krysal opened #270 "Change Slack channel of cccatalog project on Community page"
## Describe the bug
Currently the Community page points to `#cc-search` for the [Catalog](https://github.com/creativecommons/cccatalog) project, when it actually has its own channel: `cc-dev-catalog`.

## Expected behavior
Indicate the correct Slack channel for the [CC Catalog](https://github.com/creativecommons/cccatalog).

[2020-05-21 23:58] sp35 commented on #260
Closing this manually as it was not closed by #269

[2020-05-21 23:59] #260 closed

[2020-05-26 04:44] ariessa commented on #270
Hi, I've fixed the issue and created pull request #275

[2020-05-26 13:47] #270 closed

[2020-05-26 19:00] TimidRobot opened #276 "Document Python coding guidelines"
CC: @aldenstpage @mathemancer @kgodey

## Problem Description
Lack of Python coding guidelines:
- reduces efficiency of communication and pull requests
- sets new contributors up to fail
- increases cognitive work of working across multiple repositories

## Solution Description
Document Python coding guidelines.
- [x] Communicate with stakeholders
- [x] Draft guidelines
- [ ] Publish guidelines

#

[2020-06-01 19:28] ShawtyDaGee opened #283 "loadFile(fileURL, preferredSize, fullscreen)"
## Describe the bug

## To Reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

## Expected behavior

## Screenshots

## Desktop (please complete the following information)
 - OS: (ex. iOS)
 - Browser (ex. chrome, safari)
 - Version (ex. 22)

## Smartphone (please complete the following information)
 - Device: (ex. iPhone6)
 - OS: (ex. iOS8.1)
 - Browser (ex. stock bro

[2020-06-02 13:11] TimidRobot opened #284 "Insecure mixed content detected"
## Describe the bug
Issue identified by netlify:

## Expected behavior
Content should use `https` protocol

## Additional context
- [Preventing Mixed Content  |  Web Fundamentals  |  Google Developers](https://developers.google.com/web/fundamentals/security/prevent-mixed-content/fixing-mixed-content)

[2020-06-02 16:40] kgodey commented on #283
This seems like spam.

[2020-06-02 16:40] #283 closed

[2020-06-05 15:01] #160 closed

[2020-06-07 17:29] ayu023ban commented on #248
Want to work on this issue. I will update other two tables

[2020-06-10 15:04] Dhruvi16 opened #296 "Deployment errors on add_vocabulary branch."
## Description

The `add_vocabulary` is deployed [here](https://cc-open-source-dev.netlify.app/). But there are errors in the deploy log. One of them is  - `(jinja2.exceptions.UndefinedError: 'check_file' is undefined)`

## Reproduction

I am unable to reproduce it on local but the log can be found [here](https://app.netlify.com/sites/cc-open-source-dev/deploys/5ede87b71b201d00083dce4e)

## Enviro

[2020-06-11 12:48] Dhruvi16 commented on #296
https://github.com/lektor/lektor/pull/467#issuecomment-337728860 - I found this.

But I am not sure I understand it correctly or is it of any use to us. @kgodey @makkoncept any thoughts?

[2020-06-11 18:32] makkoncept commented on #296
@Dhruvi16 I also didn't understood the comment but can you try running the command `lektor plugin list`? This will show all the installed plugins and maybe `check_file` was not installed. You can then run `lektor plugin reinstall` to reinstall all the plugins.

Actually I am facing another problem while debugging this. I was not able to reproduce the error on `master` and therefore cloned the repo

[2020-06-11 19:47] Dhruvi16 commented on #296
Hey! @makkoncept the plugin is already installed and on running the command `lektor plugin list` I get this -
![image](https://user-images.githubusercontent.com/34674462/84432225-27973600-ac4a-11ea-9cfa-c2d0c2eaf848.png)

And I could not reproduce the error you got. I tried running `pipenv --rm` and then `pipenv install` but still it was running fine.

[2020-06-11 20:34] makkoncept commented on #296
You can try running the following commands anyway :
`lektor plugin flush-cache` and then  `lektor plugin reinstall`

[2020-06-11 21:04] kgodey commented on #296
I can now reproduce the error on `master` for some reason, I didn't make any changes.

I haven't had time to look into it but hopefully tomorrow.

[2020-06-13 12:19] Dhruvi16 commented on #296
This makes the local build work fine for me but I am not sure how to handle the staging environment. As there are no code changes.
@dhruvkb do you have any idea?

[2020-06-13 12:49] dhruvkb commented on #296
Netlify doesn't allow us to run a one-off command on the build server. Also, we can't SSH into the build machine like Travis CI either. So I'll just change the Netlify build command to
[code]
for the time being.

[2020-06-13 12:56] dhruvkb commented on #296
Thanks @makkoncept! The commands did indeed fix the builds locally and also on Netlify. I still have no idea what caused the builds to fail in the first place but it's nice to know that there's a handy solution.

[2020-06-13 14:36] #284 closed

[2020-06-13 14:50] #296 closed

[2020-06-16 09:29] sp35 opened #303 "Relative path error with page links when in development"
## Description

Relative path error when in development.
My branch is up to date with `creativecommons.github.io-source master`. There isn't such an issue on the live site, hence the mention of _development_.

## Reproduction

1. Go to the index page
2. Try clicking `All our projects` in the `Integrate with CC Tools` card.
3. Notice the URL on your browser if a 404

## Expectation

Relative path s

[2020-06-17 19:29] kgodey commented on #296
Nice work on this @Dhruvi16 @dhruvkb @makkoncept

[2020-06-19 14:07] #267 closed

[2020-06-19 14:16] sp35 commented on #268
Now, this can be unblocked :)

[2020-06-19 14:24] kgodey commented on #268
done, thanks!

[2020-06-21 05:01] NealldeWaal commented on #303
I would be interested in resolving this bug.

[2020-06-21 05:03] sp35 commented on #303
Great, go ahead @NealldeWaal!

[2020-06-23 13:33] ritesh-pandey commented on #268
Can I take this up?

[2020-06-23 13:34] sp35 commented on #268
Sure @ritesh-pandey

[2020-06-23 14:26] ritesh-pandey commented on #268
If I understand correctly, updated text will be

Visit our [Usability page](/contributing-code/usability/) for more details on how to participate.

[2020-06-23 14:28] sp35 commented on #268
Yes @ritesh-pandey

[2020-06-24 13:01] #268 closed

[2020-06-26 16:11] #248 closed

[2020-06-30 05:01] Rudresh22 commented on #303
@NealldeWaal are you working on this issue? If not please inform as I am interested in working on it.

[2020-06-30 05:03] Rudresh22 commented on #276
Hello, does this issue still need work? Can I work on it if so?

[2020-06-30 12:14] NealldeWaal commented on #303
@Rudresh22 please take over. Ran into unrelated issues.

[2020-07-08 16:30] Dhruvi16 opened #331 "Add Vocabulary as a featured project."
## Problem

According to new mockups, there are three featured projects on the home page. Here's the [link](https://www.figma.com/file/mttcugI1UxvCJRKE5sdpbO/Mockups?node-id=759%3A516).

## Implementation

- [x] I would be interested in implementing this feature.

[2020-07-12 14:23] ritesh-pandey commented on #303
@Rudresh22 Are you working on this? If not, I would like to take this up.

[2020-07-13 04:41] Rudresh22 commented on #303
@ritesh-pandey Go ahead, you can take it over.

[2020-07-16 15:44] kgodey commented on #303
The issue is fixed for the links @sp35 identified, but there are more errors all over the site e.g. the links to "Project Roles" and "Community building roles" on the Community Team page. It looks like they all need a trailing slash.

I'll leave this issue open, please feel free to submit PRs fixing individual pages/links, they don't all have to be done at once.

[2020-07-16 16:02] Rudresh22 commented on #303
Hey @kgodey , the links to "Project Roles" and "Community building roles" seem to be working when I visited the community team page.

[2020-07-16 16:50] ritesh-pandey commented on #303
https://github.com/creativecommons/creativecommons.github.io-source/pull/337#issuecomment-659536585

[2020-07-20 16:52] #303 closed

[2020-07-21 11:28] Dhruvi16 commented on #331
Made changes in [PR-528](https://github.com/creativecommons/vocabulary/pull/528)

[2020-07-21 11:49] Dhruvi16 opened #351 "Update `Write a Blog Post` by adding excerpt suggestion."
## Problem

In the new CCOS website, excerpts are extracted from the blog. So for proper and meaningful excerpts, we can update guidelines with suggestions for adding excerpt content in the blog.

## Additional context

### This is how excerpts look -
![image](https://user-images.githubusercontent.com/34674462/88051411-2d036c80-cb76-11ea-9612-e9c16f698fa6.png)

## Implementation

- [ ] I would be

[2020-07-21 14:14] kgodey commented on #351
Thanks for pointing this out, @Dhruvi16

[2020-07-21 20:07] kgodey commented on #331
Vocabulary is now a featured project: https://opensource.creativecommons.org/contributing-code/projects/

[2020-07-21 20:07] #331 closed

[2020-07-23 02:23] kss682 opened #352 "formating error in first header of blog post. Data flow: from API to DB"
## Description

The first header of the blog post says ```Introduction The CC``` instead it should be ```Introduction```

## Reproduction

1. Go to http://opensource.creativecommons.org/blog/entries/
2. Click on the blog ```Data flow: from API to DB```
3. See the first header
4. See error.

## Expectation

The first header must be ```Introduction```

## Resolution

- [x] I would be interested in r

[2020-07-23 05:59] ritesh-pandey commented on #351
How do we plan to extract excerpt?
- Programmatically e.g. first few characters from post
- Dedicated section in every post

[2020-07-23 07:38] #352 closed

[2020-07-23 10:06] Dhruvi16 commented on #351
Hey @ritesh-pandey! We have used Lektor's excerpt plugin and restricted it to the first 100 words. Exactly this is how we are getting excerpt -
`{{ post.body | excerpt | string | striptags() | truncate(100) }}`

[2020-07-28 15:28] ritesh-pandey commented on #249
If I understood correctly, we want to host historical GSoC projects ideas on our website as opposed to https://www.google-melange.com/archive/gsoc/. Historical project ideas are currently accessible via menu **Internships** -> **History**.

We want to port content from **google-melange** and store it in structured format. The links on **History** page should take us to the newly formed pages. We c

[2020-07-28 15:47] kgodey commented on #249
@ritesh-pandey that sounds like a great idea but I wasn't thinking about porting content from GSoC's websites or updating the History section, although we could certainly do that once this is implemented

We've had a few rounds of internships so far, but we don't show the previous project ideas for those internship rounds. We'd like to restore them from the old git commits, perhaps in a new sectio

[2020-07-28 20:54] madewithkode opened #370 "Allow direct URL linking to individual member portions of the community team page"
## Problem
Community team members should be able to link directly(via a unique URL slug) to their portion of the community team page, instead of the whole page, for ease of access and sharing.

## Implementation
- [x ] I would be interested in implementing this feature.

[2020-07-29 10:06] ritesh-pandey commented on #249
We can place all project ideas in same folder i.e. `project-ideas-collection`. Archived (Historical) and non-archived (live) ideas can be differentiated by a boolean model field `archived`.

The template which renders non-archive ideas can use a filter in `for` loop.

Our current **History** page uses `page-with-toc.html` template. We can create a new template which extends `page-with-toc.html` an

[2020-07-29 15:40] #370 closed

[2020-07-29 18:20] madewithkode opened #374 "Documentation does not comprehensively cover setup steps"
## Description
The project setup guide on the project documentation is not detailed enough and does not accurately reflect the actual project setup process step by step.  It leaves a couple necessary steps for the contributor to  figure, which is not so beginner-friendly.

## Resolution
- [ x] I would be interested in resolving this bug.

[2020-07-29 18:27] makkoncept commented on #374
Hi @madewithkode Can you please elaborate more. What are the steps that need to be made more verbose?

[2020-07-29 20:07] kgodey commented on #249
@ritesh-pandey I think you're on the right track! The two main changes I would suggest are:

1. I think we should have a field indicating which internship round each project idea is associated with. It would be great if we could just have a folder for each internship round's project ideas.

2. I think it would be good to use the existing project ideas template and just have a different project ide

[2020-07-30 18:53] ritesh-pandey commented on #249
In this scenario, we don't need `archived` field. This field was useful when we had all ideas at same directory level and we needed to differentiate between **live** and **archived**.

But if we plan to have different folders, this differentiation is not required. The current live folder can be linked from **Project Ideas** page. We can create **gsod-2020** directory inside **project-idea-collecti

[2020-07-30 19:52] kgodey commented on #249
@ritesh-pandey that all sounds right!

We need to remove the hardcoding of the content directory in the template file and instead of make it something we pass into the template somehow. I think we should just have a single template file. I am not sure how to solve this, any thoughts are appreciated.

[2020-08-03 14:12] panchovm opened #382 "The logo size is smaller than the header component"
## Description
The size of the logo is smaller than the header component and the mockup. I think is a component issue but I prefer to report it anyway.

[2020-08-03 14:26] panchovm opened #383 "The columns' grid used for page title and description are incorrect"
## Description
**Page: Home**
The main title paragraph is not full-width size and the paragraph below is smaller than the mockup.

## Expectation
The main title should use 12 columns and the below paragraph 5 columns.

## Screenshots
<img width="904" alt="Screen Shot 2020-08-03 at 10 25 45" src="https://user-images.githubusercontent.com/895819/89193277-c1f16700-d573-11ea-9a79-387f09d851b3.png">

[2020-08-03 14:29] panchovm opened #384 "Align the featured image on the right side of the device"
## Problem
**Page: Home**
The featured image looks odd when is cut by the grid container.

## Solution
Right-align the image no matter the device size. In that way will not look cut.

## Screenshot
<img width="1053" alt="Screen Shot 2020-08-03 at 10 26 42" src="https://user-images.githubusercontent.com/895819/89193521-18f73c00-d574-11ea-879d-16dd1671fc99.png">

[2020-08-03 14:32] panchovm opened #385 "Color of button during hover interaction"
## Description
When buttons use `Forest Green` as background color, the background color during hover interaction must be `Brighter Forest Green`. The Design Library has that color in the **Interaction** section.

<img width="153" alt="Screen Shot 2020-08-03 at 10 29 32" src="https://user-images.githubusercontent.com/895819/89193735-6ecbe400-d574-11ea-8187-bfd5d099ff08.png">

[2020-08-03 14:57] panchovm opened #386 "Wrong text color in Get Involved section"
## Description
### Page: Home
The paragraph below **Get Involved** and the description sentences below each link. (i.e., *"Learn how to contribute and then get started."*) have the wrong text color.

## Expectation
The color should be `Dark Slate Gray` for both text styles.

[2020-08-03 15:00] panchovm opened #387 "Wrong style in hover interaction of links"
## Description
The links that use `Forest Green` have a wrong style during hover state.

## Expectation
The style during hover should be only an underline style, without changing the `Forest Green` color

## Screenshots
<img width="385" alt="Screen Shot 2020-08-03 at 10 59 53" src="https://user-images.githubusercontent.com/895819/89196643-7e4d2c00-d578-11ea-99ad-f704190e4f2c.png">

[2020-08-03 15:05] panchovm opened #388 "Wrong spacing and text color in blog post"
## Description
Two problems were detected:
1. Wrong spacing between post title and the section where the author and date are displayed.
2. Wrong text color for the excerpt paragraph.

## Expectation
For each description
1. The space between sections indicated should be `8px`.
2. The text color for excerpt must be `Dark Slate Gray`.

## Screenshots
<img width="397" alt="Screen Shot 2020-08-03 at 11

[2020-08-03 15:08] panchovm opened #389 "There is no white border to separate two sections"
## Description
### Page: Home
There is no separation between **Get Involved** and **Recent Blog Posts** sections.

## Expectation
There should be a `3px white top-border` to separate both sections.

[2020-08-03 15:11] panchovm opened #390 "Section titles do not use the correct text style"
## Description
### Page: Home
The titles of **Recent Blog Posts** and **Featured Projects** sections don't use the correct text style.

## Expectation
Both titles should use the `Heading 2A` style.

## Screenshots
<img width="371" alt="Screen Shot 2020-08-03 at 11 11 01" src="https://user-images.githubusercontent.com/895819/89197645-06800100-d57a-11ea-9ab6-806bcaee4b0a.png">

[2020-08-03 15:52] panchovm opened #391 "Wrong hover style of a single link"
## Description
### Page: Home
The default and hover states of the link `visit website` have wrong styles. This also applies to Github and Slack links shown below.

## Expectation
In the default state, It should not have the left, top, and bottom padding. During hover, it should only have an underline style without changing the background color.

## Screenshots
<img width="332" alt="Screen Shot 202

[2020-08-03 16:14] panchovm opened #392 "Wrong spacing between breadcrumb and page content"
## Description
### Page: Single post
The space between breadcrumb and page content is incorrect. It's bigger than the mockup.

## Expectation
The spacing should be `32px`.

## Screenshots
<img width="558" alt="Screen Shot 2020-08-03 at 12 13 21" src="https://user-images.githubusercontent.com/895819/89203628-e274ed80-d582-11ea-9245-baeb957fd60e.png">

[2020-08-03 17:08] panchovm opened #393 "Wrong color of the default text in blog post"
## Description
### Page: Single post
The color of the default text is not correct.

## Expectation
The default color of this text should be `Dark Slate Gray`.

## Screenshots
<img width="276" alt="Screen Shot 2020-08-03 at 13 06 50" src="https://user-images.githubusercontent.com/895819/89208456-65e60d00-d58a-11ea-9d61-078f0e69b493.png">

## Additional context
**This change is critical for accessib

[2020-08-03 17:12] panchovm opened #394 "The paragraph to describe the page content has an incorrect style"
## Description
### Page: Single entry (Contribution Guidelines)
The paragraph below the main title has an incorrect style. The default color should be `Dark Slate Gray` and the line-height is higher than the Design Library definition.

## Screenshots
<img width="1024" alt="Screen Shot 2020-08-03 at 13 10 14" src="https://user-images.githubusercontent.com/895819/89208735-f0c70780-d58a-11ea-8b00-f17

[2020-08-03 18:59] panchovm opened #395 "Text style of code snippet"
## Description
### Page: Single entry (Contribution Guidelines)
The code snippet style doesn't follow the Design Library definition.

## Expectation
The code snippet must have a border of `1 px` in `Lighter Gray` color. See [the mockup](https://www.figma.com/file/mttcugI1UxvCJRKE5sdpbO/Mockups?node-id=398%3A0&viewport=-3839%2C-230%2C1).

## Screenshots
<img width="813" alt="Screen Shot 2020-08-03

[2020-08-03 19:04] panchovm opened #396 "The navigation component doesn't behave as expected"
## Description
### Page: Single entry (Contribution Guidelines)
The navigation component (table of content) doesn't remain fixed during scrolling.

## Expectation
The component should remain fixed once user scrolls down or up.

## Screenshots
<img width="366" alt="Screen Shot 2020-08-03 at 15 01 56" src="https://user-images.githubusercontent.com/895819/89217660-8f0e9980-d59a-11ea-95f8-538d8821c905

[2020-08-03 19:10] panchovm opened #397 "The sidebar component has wrong styles"
## Description
### Page: Single entry (Contribution Guidelines)
The sidebar component has wrong styles. The line that divides pages should be full width regarding its container, and the top and bottom margins of the same line have 8px more than defined.

## Screenshots
<img width="360" alt="Screen Shot 2020-08-03 at 15 04 35" src="https://user-images.githubusercontent.com/895819/89218018-43a8bb00-

[2020-08-03 19:21] panchovm opened #398 "The styles of a table doesn't follow the Design Library"
## Description
### Page: Projects (Project list)
The table has problems with the following styles:
1. Color of the line that divides columns
2. The background color of rows in zebra style.
3. Font size in content

## Expectation
The style should be, based on prior points:
1. The color line should be `Light Gray`.
2. The background color of rows should be `Light Gray`.
3. The font size of content s

[2020-08-03 19:57] panchovm opened #399 "Incorrect styles in step content"
## Description
### Page: Guide (Building a New Feature in CC Search)
The content to indicate a step has incorrect styles:
1. The step number must be `Heading 4B`.
2. The step name must be `Heading 2A`.
3. The step description, below title, must be `Heading 5B`.
4. The spacing between those three elements must be `8px`.

## Screenshots
<img width="358" alt="Screen Shot 2020-08-03 at 15 53 37" src="

[2020-08-03 20:02] panchovm opened #400 "Incorrect style and behavior in steps section"
## Description
### Page: Guide (Building a New Feature in CC Search)
The section has the following errors:
1. The left section must have the `Lighter Gray` as background-color.
2. Once the user scrolls up or down, the section should remain fixed.
3. When the user is seeing a section on content section, the steps section must show the active step as its hover style.

## Screenshots
<img width="714"

[2020-08-03 20:07] panchovm opened #401 "Tag component does not work as active"
## Description
### Page: Internship projects
The tag component is not active when seeing all projects. It must show the active state with `Gold` background

## Screenshots
![Uploading Screen Shot 2020-08-03 at 16.05.25.png…]()

[2020-08-03 20:12] panchovm opened #402 "The card to show a project should work as link"
## Description
### Page: Internship projects
The card to show a project must work as a single link, the whole element. This element is a `link border` component indicated in the Design Library. I updated the first card of [same mockup](https://www.figma.com/file/mttcugI1UxvCJRKE5sdpbO/Mockups?node-id=266%3A0&viewport=-8555%2C-11%2C0.9475727081298828) to show the hover style.

## Screenshots
<img w

[2020-08-03 20:23] panchovm opened #403 "Spacing problems in project description"
## Description
### Page: Internship projects
The project information has the following style problems:
1. The project name must use the `Heading 2A` style.
2. The title of each section (i.e., *The problem*) must use the `Heading 3B` style.
3. The title of each item on left section must use the `Heading 5B` style.
4. The spacing between name and description on left section must be `8px`.
5. The spa

[2020-08-03 21:13] panchovm opened #404 "The last row of posts in post table should not have the divider line"
## Description
### Page: Blog
In the post table, the last row of posts should not have the bottom line to divide the content and pagination component

## Screenshot
<img width="1389" alt="Screen Shot 2020-08-03 at 17 12 48" src="https://user-images.githubusercontent.com/895819/89227973-abb3cd00-d5ac-11ea-9057-7797fcdc902e.png">

[2020-08-03 21:35] panchovm opened #405 "The author page has a different text style"
## Description
### Page: Authors
1. The author's name has a different text style. It should be `Heading 5B`.
2. The content section should have a `Lighter Gray` background.

## Screenshots
<img width="1150" alt="Screen Shot 2020-08-03 at 17 35 22" src="https://user-images.githubusercontent.com/895819/89229607-bb80e080-d5af-11ea-88c1-a8880f08b8d0.png">

[2020-08-04 11:12] Dhruvi16 commented on #385
I am not sure if this should be handled here. This should be moved to Vocabulary right? @hugosolar @Dhruvi16

[2020-08-04 21:17] TrustedMercury opened #411 "Make images not selectable and not draggable"
##  Description
Make images on the website not selectable or draggable. All images on the website can be dragged and selected which is against convention.
[![Example Image](https://i.ibb.co/FsbdbLN/draggable-Image.png)]()

## Implementation
- [x] I would be interested in implementing this feature.

[2020-08-04 21:43] TrustedMercury opened #412 "HTML errors"
## Description

The website has a few HTML errors -
- `<nav>` elements do not have a `name` attribute but one is provided on ``Line 52 https://opensource.creativecommons.org/``
- `<nav>` element closes but `<div>` element in it is still open on ``Line 71 - Line 72 https://opensource.creativecommons.org/``
- `align` attribute is no longer supported for `div` elements in `HTML5`, must use `CSS` inst

[2020-08-05 06:58] Dhruvi16 commented on #388
Hey @panchovm I checked the current version and I can see there is an 8px top-margin for the author-name and date section.

[2020-08-05 08:53] Dhruvi16 commented on #391
This issue is handled by https://github.com/creativecommons/vocabulary/issues/370. So I am closing this issue.

[2020-08-05 08:53] #391 closed

[2020-08-05 09:51] dhruvkb commented on #412
@TrustedMercury the lines numbers that you mentioned in the issue, are they the line numbers in the final HTML source code of the page?

[2020-08-05 10:00] dhruvkb commented on #411
@TrustedMercury I disagree with your conventions on this topic.

I believe allowing images to be dragged is acceptable. I frequently use drag-and-drop to save images from the browser to my device.
<img width="1440" alt="Screenshot 2020-08-05 at 3 25 33 PM" src="https://user-images.githubusercontent.com/16580576/89399340-f447c380-d72f-11ea-9724-3fd0561ba414.png">

The same goes for being able to se

[2020-08-05 10:17] Dhruvi16 commented on #396
I am not sure how will it stay fixed. Are you saying that all the contents are present in 100% height and there is scroll for content only?

[2020-08-05 12:47] TrustedMercury commented on #412
I referred this - view-source:https://opensource.creativecommons.org/ to get the line numbers, let me make a new copy as it seems some of them are slightly inaccurate.
- `<nav>` elements do not have a name attribute but one is provided on `Line 52 https://opensource.creativecommons.org/`
- `<nav>` element closes but `<div>` element in it is still open on `Line 143 - Line 144 https://opensource.cre

[2020-08-05 13:53] panchovm commented on #396
I mean [something like this](https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed2). Where only that section keeps fixed.

[2020-08-05 14:27] kgodey commented on #411
I concur with @dhruvkb, we do not need to fix this. We hope to see other contributions from you, @TrustedMercury! :)

[2020-08-05 14:27] #411 closed

[2020-08-06 10:22] Dhruvi16 commented on #396
I don't think this will look good because in our case the side menu is placed in the middle of the page.
![simplescreenrecorder-2020-08-06_15 30 12](https://user-images.githubusercontent.com/34674462/89521243-c4b2bd00-d7fc-11ea-918c-6608a47c0cca.gif)

[2020-08-06 10:23] dhruvkb commented on #412
Hi, @TrustedMercury the contents of `view-source` are dynamically generated using Lektor and, since you expressed an interest in solving this issue, I would recommend setting the project up locally. You can take some time to identify the location in the source code from where these particular DOM elements are being generated.

[2020-08-06 12:09] zackkrida commented on #396
@Dhruvi16 have you used `position: sticky` before? It would let you keep it centered initially but would then fix it to the top once you scroll.

I can give you some tips on using it if you haven't!

[2020-08-06 13:16] panchovm commented on #396
Look [this case](https://www.airbnb.cl/experiences/414849?checkin=2020-10-12&checkout=2020-10-23&adults=1&children=0&infants=0&location=Roma%2C%20RM&currentTab=experience_tab&federatedSearchId=2f72857b-18fe-4dc5-b718-143c0afb99c6&searchId=&sectionId=931573d1-ac52-43f8-b73e-eb01d7817204&source=p2), the sidebar is sticky when reaching the top position of the screen. To then keep the scroll when full

[2020-08-06 13:21] Dhruvi16 commented on #396
Hey, @zackkrida I tried using sticky but it did not work. I am not very familiar with it so some help would be great!
Thanks.

[2020-08-06 14:08] TrustedMercury commented on #412
I forked it and set it up locally, will work on it now!

[2020-08-06 16:08] zackkrida commented on #396
Ah okay @Dhruvi16 I made a pr you can review here: https://github.com/creativecommons/creativecommons.github.io-source/pull/418

[2020-08-06 16:48] panchovm commented on #396
@zackkrida and @Dhruvi16, does the example that I posted make sense?

[2020-08-06 16:50] zackkrida commented on #396
@panchovm yes definitely. Please review the `.gif` here: https://github.com/creativecommons/creativecommons.github.io-source/pull/418

is that what you're expecting to see?

[2020-08-06 16:53] panchovm commented on #396
Yes! <3 it looks great.

[2020-08-09 09:13] #396 closed

[2020-08-09 09:13] #392 closed

[2020-08-09 09:13] #393 closed

[2020-08-09 09:14] #395 closed

[2020-08-09 09:14] #390 closed

[2020-08-09 09:14] #386 closed

[2020-08-09 09:15] #387 closed

[2020-08-09 09:15] #389 closed

[2020-08-09 09:15] #383 closed

[2020-08-09 09:15] #384 closed

[2020-08-10 15:47] Dhruvi16 commented on #400
The first part will be solved in Vocabulary itself - https://github.com/creativecommons/vocabulary/issues/579

[2020-08-10 17:37] Dhruvi16 commented on #404
I am not sure how to do this. I have given border to the card here and I am not sure how to selectively remove the border from (1,2 or 3) cards in the last row.

[2020-08-10 17:48] zackkrida commented on #404
@Dhruvi16 it's a little hacky, but something like this with the [`:nth-last-child()` pseudoselector](https://www.w3schools.com/cssref/sel_nth-last-child.asp) is probably the best way! That will let you target the 2nd to last and 3rd to last elements, and you can get the last element with the `:last-child` selector.

[2020-08-11 08:45] Dhruvi16 commented on #404
I tried that but the last row can have 1,2 or 3 cards how do I know how many cards to select.

[2020-08-11 14:35] #412 closed

[2020-08-12 10:20] #382 closed

[2020-08-12 10:20] #405 closed

[2020-08-12 10:21] #394 closed

[2020-08-12 15:05] Dhruvi16 commented on #404
I found a solution and made the PR.

[2020-08-12 15:11] #399 closed

[2020-08-12 15:14] #403 closed

[2020-08-12 15:14] #402 closed

[2020-08-12 15:14] #401 closed

[2020-08-12 16:39] #400 closed

[2020-08-13 18:08] aldenstpage opened #434 "Syntax highlighting code snippets for blog posts"
## Problem
Code blocks don't have any styling, which makes them difficult to read. We should set up syntax highlighting.

## Implementation

- [ ] I would be interested in implementing this feature.

[2020-08-13 18:31] krysal commented on #434
That is already implemented in #226. The problem may be with a specific blog post, since it is necessary to specify the language of the snippet.

[2020-08-13 18:41] aldenstpage commented on #434
Ah, that's what I was missing. Thank you @krysal!

[2020-08-13 18:41] #434 closed

[2020-08-14 14:52] #374 closed

[2020-08-17 14:35] kgodey opened #437 "[new design] Don't show Slack information in cards if there is none."
See the API card:

<img width="416" alt="Screen Shot 2020-08-17 at 10 34 47 AM" src="https://user-images.githubusercontent.com/287034/90408122-68aa2d00-e075-11ea-89c7-1602c62a767e.png">

[2020-08-17 14:40] TimidRobot opened #438 "Redesign top menu unresponsive"
## Description
The redesign top menu unresponsive for "tablet landscape" and small-medium resolutions (or with vertical browser tabs reducing screen size)

## Reproduction

1. Navigate to site: https://cc-open-source-dev.netlify.app/
2. Have vertical browser tabs or otherwise reduce screen size
   - appears to impact screens <1600 and >1000

## Expectation
If top menu doesn't fit, it should flow o

[2020-08-17 14:46] kgodey opened #439 "[new design] Multi-line code blocks should not have borders on every line"
See:

<img width="961" alt="Screen Shot 2020-08-17 at 10 45 44 AM" src="https://user-images.githubusercontent.com/287034/90409269-f3d7f280-e076-11ea-8388-35e18c158444.png">

(on the GitHub Repo Guidelines page)

[2020-08-17 14:50] TimidRobot opened #440 "Blog page posted date day is not zero-padded"
## Description
The leading zero of they day (in `YYYY-MM-DD`) is stripped/not shown on blog post pages (becoming `YYYY-MM-D`). This bug impacts both current and redesign.

## Reproduction
- Current: https://opensource.creativecommons.org/blog/entries/legal-database-features/
- Redesign: https://cc-open-source-dev.netlify.app/blog/entries/legal-database-features/

## Expectation
dates should be `YY

[2020-08-17 14:57] kgodey opened #442 "[new design] Not enough spacing between filters and project ideas"
See screenshot (this is on the Project Ideas page)

<img width="1297" alt="Screen Shot 2020-08-17 at 10 57 00 AM" src="https://user-images.githubusercontent.com/287034/90410541-7d3bf480-e078-11ea-9146-d61c24788db6.png">

[2020-08-17 15:02] Dhruvi16 commented on #442
This was fixed by - https://github.com/creativecommons/creativecommons.github.io-source/pull/420 . Wow I do not know how did it change into this. Lemme see.

[2020-08-17 15:06] kgodey opened #443 "[new design] Issues with Project List page"
Two issues:
- It is not clear that the items in the last column (Website, GitHub, Slack, etc.) are clickable, they have the same styling as the description etc. which is not clickable
- There is no icon for "Website", it should use the external link icon.

Maybe we can use the same buttons we use for the cards?

<img width="1281" alt="Screen Shot 2020-08-17 at 11 04 14 AM" src="https://user-images

[2020-08-17 15:10] kgodey opened #444 "[new design] Footnote style is misleading"
<img width="989" alt="Screen Shot 2020-08-17 at 11 09 02 AM" src="https://user-images.githubusercontent.com/287034/90411709-29320f80-e07a-11ea-935b-ff88888f7f60.png">

This is from the PR guidelines page. The bottom footnote should not be styled like a link and the font size should be small because it is a footnote.

[2020-08-17 15:15] kgodey opened #445 "[new design] Sub-menu item is cut off"
See screenshot

<img width="347" alt="Screen Shot 2020-08-17 at 11 14 12 AM" src="https://user-images.githubusercontent.com/287034/90412271-e7ee2f80-e07a-11ea-952c-b7d73e67b09d.png">

[2020-08-17 15:16] kgodey opened #446 "[new design] Archived blog entries spacing looks off because there are no avatars"
See screenshot
<img width="1304" alt="Screen Shot 2020-08-17 at 11 15 30 AM" src="https://user-images.githubusercontent.com/287034/90412432-1835ce00-e07b-11ea-9c61-66ff799b0679.png">

[2020-08-17 15:18] kgodey opened #447 "[new design] All page titles say "Welcome""
Page titles should reflect the current page (I mean the title in the `<title>` tag).

[2020-08-17 15:21] kgodey opened #448 "[new design] Text changes"
- "Recent Blog Post" on the homepage should be "Recent Blog Posts"
- "Contributing Guidelines" in the footer should be "Contribution Guidelines"

[2020-08-17 15:40] cschuman commented on #440
There are two places where `pub_date` is being converted.

1. /templates/blog-post.html
2. /templates/macros/posts.html

In `templates/blog-post.html` on line 15 the dateformat is set to `yyyy-MM-d`.  https://github.com/creativecommons/creativecommons.github.io-source/blob/master/templates/blog-post.html#L15

Where as in `/templates/macros/posts.html` the date format looks correct. https://github.

[2020-08-18 12:13] #404 closed

[2020-08-18 12:23] Dhruvi16 commented on #438
I think this issue will be taken care of by this - https://github.com/creativecommons/vocabulary/issues/438

[2020-08-18 14:54] Dhruvi16 commented on #443
I will add the external link icon to the website link. But I wanted to ask @panchovm that if we can make them forest green so they appear as links.

[2020-08-18 15:04] panchovm commented on #443
Using forest green to indicate that are links sounds good.

[2020-08-18 16:33] Dhruvi16 commented on #447
I am not sure how to fix this because it is the way it should be.

[2020-08-18 17:26] Dhruvi16 commented on #445
I think this issue will be taken care of by this - creativecommons/vocabulary#438

[2020-08-18 18:55] kgodey commented on #447
@Dhruvi16 I am not sure what you mean by "it is the way it should be".

On the current site, if you go to https://opensource.creativecommons.org/community/, the page title in the `<title>` tag matches the actual page title ("Join the Developer Community")

On the new site, the page title just says "Welcome" https://cc-open-source-dev.netlify.app/community/

[2020-08-18 19:29] Dhruvi16 commented on #447
Yes yes, I recognized the problem, and by "it is the way it should be" I meant the code for the title. And I will have to look it up more to find the solution for this.

[2020-08-18 19:52] kgodey commented on #447
@Dhruvi16 no worries, I wasn't sure if I had been clear :)

[2020-08-18 19:53] #444 closed

[2020-08-18 19:53] kgodey commented on #444
Looks good!

[2020-08-19 03:49] Aakash2408 commented on #447
Hey, @kgodey I understand the issue can I take this?

[2020-08-19 04:38] Aakash2408 commented on #440
Hey @TimidRobot  @cschuman  can i take this?

[2020-08-19 07:08] Dhruvi16 commented on #440
Go ahead @Aakash2408. I will assign it to you.

[2020-08-19 07:12] Dhruvi16 commented on #447
Hey, @Aakash2408 I have already assigned you an issue. And this issue is related to my internship work so it will be better if I handle it. Thanks for the interest though.

[2020-08-19 07:13] #448 closed

[2020-08-19 07:13] Aakash2408 commented on #447
Hey @Dhruvi16 , No problem 😃.

[2020-08-19 07:13] #446 closed

[2020-08-19 07:49] Dhruvi16 commented on #447
Okay I know I did a horrible mistake of removing title blocks from the templates.

[2020-08-19 08:03] Aakash2408 commented on #440
I'm getting this issues on this command
curl https://raw.githubusercontent.com/kennethreitz/pipenv/master/get-pipenv.py | python
![Screenshot from 2020-08-19 13-32-54](https://user-images.githubusercontent.com/47134609/90608620-8071e480-e220-11ea-9a8b-fb1ec9040f78.png)

[2020-08-19 13:57] kgodey commented on #442
Looks fixed.

[2020-08-19 13:57] #442 closed

[2020-08-19 13:58] kgodey commented on #437
Looks fixed.

[2020-08-19 13:58] #437 closed

[2020-08-19 13:59] kgodey commented on #439
Looks good!

[2020-08-19 13:59] #439 closed

[2020-08-19 13:59] kgodey commented on #443
Looks good!

[2020-08-19 13:59] #443 closed

[2020-08-20 15:47] kgodey opened #464 "Add GitHub Sponsorship information to CC Open Source"
We can embed this card prominently somewhere.

[code]

[2020-08-20 18:54] dhruvkb commented on #464
I suppose @panchovm and @Dhruvi16 will have insights on adding a new item to the UI. According to me it could just be placed in the footer, replacing or supplementing the existing donate button.

[2020-08-20 19:06] panchovm commented on #464
I think on the home page makes sense. For now @dhruvkb, we have not considered customizing the footer. In the future, I think we will but for now, on the home page sounds reasonable.

I can update the mockup if you all agree on this.

[2020-08-20 19:08] dhruvkb commented on #464
I agree with whatever you say @panchovm 😄. I just made a suggestion to start the conversation.

[2020-08-20 19:13] Aakash2408 commented on #464
Hey, Can I take this?

[2020-08-20 19:16] kgodey commented on #464
@Aakash2408 not yet, please wait for the "blocked" tag to be removed (which will happen once @panchovm has the design figured out)

homepage sounds good to me @panchovm

[2020-08-20 19:19] Aakash2408 commented on #464
hey @kgodey  @panchovm  @Dhruvi16, just a suggestion can we add any kind of bordering or grid around this content.

![Screenshot from 2020-08-21 00-47-36](https://user-images.githubusercontent.com/47134609/90815242-0472bc00-e348-11ea-89b4-ebaf22d7b120.png)

[2020-08-20 19:30] panchovm commented on #464
Perfect @dhruvkb, @kgodey. I will work on updating the mockup. Regarding the design @Aakash2408, we just redesigned the whole site. You will see it live soon.

[2020-08-20 19:30] kgodey commented on #464
@Aakash2408 the entire site has been redesigned and will be going live next week, hopefully, please see https://cc-open-source-dev.netlify.app/

[2020-08-20 19:40] Aakash2408 commented on #464
@panchovm  @kgodey website is really amazing . Can I just give a suggestion or my point of view?

[2020-08-20 19:49] dhruvkb commented on #464
Yes, please file issues if you spot a bug or find room for improvement.

[2020-08-20 20:00] Aakash2408 commented on #464
Where is the repository for this code?

[2020-08-20 20:03] kgodey commented on #464
@Aakash2408 same repo, this PR: https://github.com/creativecommons/creativecommons.github.io-source/pull/436

[2020-08-21 03:09] Aakash2408 opened #467 "[new Design] Projects section content going out of the box on responsiveness"
## Description

    One of the featured proejct's content gets out  of the box when checked the responsiveness.

## Expectation
The content should remain inside the box on every dimensions.

## Screenshots
![Screenshot from 2020-08-21 02-56-46](https://user-images.githubusercontent.com/47134609/90847717-abf8ea00-e35a-11ea-8909-7380b0843cd1.png)
![Screenshot from 2020-08-21 02-56-35](https://user-i

[2020-08-21 03:14] Aakash2408 opened #468 "[new Design] Date on the Blog post page is not zero padded"
Hey @kgodey  @TimidRobot
## Description
When we check the blog page date shown is not zero padded for single digit dates.I have corrected this issue in the old version website .

## Expectation
  Format should be {yyyy-mm-dd}

## Screenshots
![Screenshot from 2020-08-21 03-11-07](https://user-images.githubusercontent.com/47134609/90848420-62a99a00-e35c-11ea-8fc5-24ebe786dbd0.png)

## Resolution

-

[2020-08-21 08:22] dhruvkb commented on #440
As #468 points out, this bug has not been fixed in the redesigned version. Reopening.

[2020-08-21 08:23] Aakash2408 commented on #440
Ok i can do this .kindly assign it to me

[2020-08-21 08:24] dhruvkb commented on #468
As #440 mentions that it affects both old and new designs, it has been reopened and this issue, being a duplicate, of the same issue is being closed. @Aakash2408 you remain assigned to it so please take it up!

[2020-08-21 08:24] #468 closed

[2020-08-21 08:26] Aakash2408 commented on #468
But i made changes in blog post which is the code for old site  and that
made the changes too but where can i make changes for this new website

On Fri, 21 Aug 2020 at 1:54 PM, Dhruv Bhanushali <notifications@github.com>
wrote:

[2020-08-21 08:31] Aakash2408 commented on #440
@dhruvkb  can you tell where is the code for new website i mean i cant find that compoonent.

[2020-08-21 08:37] Dhruvi16 commented on #440
I just have to pull master to get that fixed. So it is solved.

[2020-08-21 08:37] #440 closed

[2020-08-22 04:27] dhruvkb opened #472 "Incorrect capitalisation in breadcrumbs"
## Description
Acronym capitalisation in breadcrumbs are not handled correctly. There should be a better way to do this (or in the very least hardcode 'CC').

## Reproduction
1. Visit https://opensource.creativecommons.org/cc-search/
2. See error.

## Expectation
Expected to see 'CC', not 'Cc'.

## Screenshots
<img width="122" alt="Screenshot 2020-08-22 at 9 53 47 AM" src="https://user-images.gith

[2020-08-22 14:25] kgodey opened #473 "Update CC Search items in top navigation"
Currently, we have two pages related to CC Search in very different locations:
- the top level CC Search page: https://opensource.creativecommons.org/cc-search/
- the CC Search contribution guide under "Contributing": https://opensource.creativecommons.org/contributing-code/cc-search/

These are logically related and should be moved to the same place.

We should have a top level "CC Search" item t

[2020-08-24 10:23] Dhruvi16 opened #475 "Wrong newsfeed link."
## Description

The newsfeed link on the blog page takes the user to some XML file which is not expected.

## Reproduction

1. Go to [Blog page](https://opensource.creativecommons.org/blog/entries/)
2. Click on `news feed here`
3. See error.

## Expectation

It should take the user to a legitimate news feed subscription page.

## Environment

 - Device:laptop
 - OS: Ubuntu 16.04
 - Browser:  Firef

[2020-08-24 10:23] Dhruvi16 commented on #475
I am not sure about where this link should take the user.

[2020-08-24 13:53] kgodey commented on #475
@Dhruvi16 this is not a bug, if you put that URL into your RSS reader, it will subscribe to it.

What kind of page where you expecting?

[2020-08-24 14:06] dhruvkb commented on #475
I think if we change the text to "RSS feed" and/or put the [RSS icon](https://en.wikipedia.org/wiki/RSS#/media/File:Feed-icon.svg) alongside it, it would make it quite clear.

[2020-08-24 14:13] kgodey commented on #475
I'm in support of doing both those things.

[2020-08-24 14:42] Dhruvi16 commented on #475
Oh! I got confused. I agree with @dhruvkb here.

[2020-08-24 14:53] kgodey commented on #475
go ahead! do we have an RSS icon in Vocabulary?

[2020-08-24 14:57] zackkrida commented on #475
There is not an RSS icon.

[2020-08-24 15:14] Dhruvi16 commented on #475
I will add an issue and make a PR to add an RSS icon. Is that okay @zackkrida?

[2020-08-24 21:30] kgodey commented on #472
I think the best solution here would be to use the page titles (without altering the case) for the breadcrumbs, rather than the URLs.

[2020-08-25 12:10] #473 closed

[2020-08-26 01:26] akshgpt7 opened #481 "Ordering of Roles under some projects"
## Description
On the [Community Team page](https://opensource.creativecommons.org/community/community-team/members/), the ordering of the roles under **CC Catalog API** and **Community Building Teams** seems to be in reverse order than all others (This is only the case with these two categories).
It looks a little inconsistent with the other Projects ordered differently.

## Reproduction

Visit t

[2020-08-26 02:39] kgodey commented on #481
Thanks for reporting this @akshgpt7!

[2020-08-26 10:47] ooyeraju commented on #481
Can I take this?

[2020-08-26 14:44] kgodey commented on #481
Sure, go ahead @ooyeraju. No need to ask in advance if an issue is marked "help wanted".

[2020-08-26 15:20] annatuma opened #483 "Implement Web Monetization on CC Open Source"
We're ready to integrate web monetization on CC Open Source, across all pages.

This is the tag:
`<meta name="monetization" content="$ilp.uphold.com/edR8erBDbRyq">`

It should be placed in the `<head>`

That's all, folks!

[2020-08-26 16:15] zackkrida opened #484 "Update donate icon in footer button"
The icon in the footer donate button needs to be updated to use the `cc-letterheart-filled` icon.

Original Issue: creativecommons/vocabulary#589

[2020-08-27 06:18] abhinav72610 commented on #484
can i do this ??

[2020-08-27 06:35] subhamX opened #490 "Responsiveness Design Bug"
## Description
The [Write a Blog Post](https://opensource.creativecommons.org/community/write-a-blog-post/) page under the community tab isn't responsive and a lot of content is getting clipped.

## Screenshots
I have adjusted the viewport to `1295px`. Please notice that the `Archives` tab on the navbar isn't visible.

![image](https://user-images.githubusercontent.com/43654114/91398859-89833700-e

[2020-08-27 13:36] kgodey commented on #484
go ahead @abhinav72610. You don't need to ask permission if something is marked "help wanted".

You may want to look at a similar PR in the CC Search repo: https://github.com/creativecommons/cccatalog-frontend/pull/1192

[2020-08-27 18:39] #483 closed

[2020-08-28 16:54] #484 closed

[2020-08-29 04:29] Aakash2408 commented on #472
@kgodey I cant understand this can you please elaborate it a bit.

[2020-08-30 16:27] Heisenberg399 commented on #490
I can try..assign it to me

[2020-08-31 14:28] Dhruvi16 commented on #472
Hey @Aakash2408 for now we are extracting the URL for building content for the Breadcrumb component on every page. You will find the breadcrumb component in the [layout.html](https://github.com/creativecommons/creativecommons.github.io-source/blob/master/themes/vocabulary_theme/templates/layout.html) template with a `Breadcrumb` comment over it. So Kriti is suggesting that instead of extracting pa

[2020-08-31 17:49] kgodey commented on #189
This is live!

[2020-08-31 17:49] #189 closed

[2020-08-31 19:19] zackkrida opened #498 "Header responsiveness"
The header of http://opensource.creativecommons.org/ has some overlap issues. We should fix this by moving `Archive` to the blue links in site footer and removing `Contribution Guidelines` from those links.

The new footer `Archive` link should link to an "Archive page", which has two links on it:

- [CC Tech Blog (2007-2014)](https://opensource.creativecommons.org/archives/old-tech-blog)
- [CC-DE

[2020-09-01 07:04] Aakash2408 commented on #472
OK i will try it :)

[2020-09-01 07:47] Aakash2408 commented on #472
This is the part of code I need to change I guess
![Screenshot from 2020-09-01 13-17-13](https://user-images.githubusercontent.com/47134609/91822473-7eaf1480-ec55-11ea-822f-a0044a42844a.png)

[2020-09-02 04:32] dhruvkb commented on #472
@Aakash2408 your screenshot is broken. You can [open a draft PR](https://github.blog/2019-02-14-introducing-draft-pull-requests/) if you want reviews on the changes you have made.

[2020-09-02 04:34] dhruvkb commented on #498
@zackkrida I'm getting errors on the screenshots you've attached.
<img width="906" alt="Screenshot 2020-09-02 at 10 03 20 AM" src="https://user-images.githubusercontent.com/16580576/91932357-89c07e00-ed03-11ea-8a81-eedf328ab204.png">

[2020-09-02 12:47] kgodey commented on #498
I don't mind moving Archive to the footer, but what about the sub-items? I guess we could make an "Archive" page that links to the sub-items.

[2020-09-02 19:38] kgodey commented on #481
Fixed in https://github.com/creativecommons/ccos-scripts/issues/70

[2020-09-02 19:38] #481 closed

[2020-09-05 04:48] Zeeshan-2k1 commented on #498
Can I take this. I want to work on this.

[2020-09-05 14:10] dhruvkb opened #501 "Split Sass into smaller files"
Currently all styling from the site comes from a single Sass file `main.scss` in `webpack/sass`. This causes:
- a maintenance burden (at the time of writing, the file contains > 700 lines)
- longer loading times (the single `.css` output for the entire site is loaded on the first page visit)

Since Webpack is being used, a better way would be to split the file into smaller chunks and use a number

[2020-09-05 14:14] Zeeshan-2k1 commented on #501
I am new to this community. I want to work on this.

[2020-09-05 16:01] dhruvkb commented on #501
@Dhruvi16 can you help @Zeeshan-2k1 with this?

[2020-09-07 06:03] Dhruvi16 commented on #501
Yes! Of course.

[2020-09-07 06:07] Dhruvi16 commented on #501
We will have to split the CSS based on the templates they are related to. I have added comments in the main.scss and those will help you find the templates each piece of code is related to.

[2020-09-07 08:44] Zeeshan-2k1 commented on #501
Sure, I am working on it.

[2020-09-08 04:30] zackkrida commented on #498
I like the Archive page idea, until we have some more robust sub-menu/sitemap menu type section in the footer globally.

[2020-09-08 15:29] kgodey commented on #498
@zackkrida will you update the ticket description?

[2020-09-08 15:47] TimidRobot opened #503 "Migrate CoC to Contributor Covenant 2.1"
## Problem

We are not leveraging the refinements made to the Contributor Covenant. Additionally, the smaller the delta we can maintain with other projects using the Contributor Covenant, the easier it is to maintain appropriate expectations.

## Description

Migrate Code of Conduct (CoC) to [Contributor Covenant 2.1](https://www.contributor-covenant.org/version/2/1/code_of_conduct/). We are curre

[2020-09-08 17:02] Aakash2408 commented on #498
Can i take this?

[2020-09-08 17:19] zackkrida commented on #498
@Aakash2408 you are welcome to work on this; I updated the ticket with specific instructions.

[2020-09-10 20:12] zackkrida opened #507 "Use new colored label component in `/contributing-code` page"
## Problem

Once #502 lands, we should use the new `.gh-label` css classes on [this page](https://github.com/creativecommons/creativecommons.github.io-source/blob/master/content/contributing-code/contents.lr), instead of inline code blocks.

## Implementation

- [ ] I would be interested in implementing this feature.

[2020-09-10 23:08] dhruvkb commented on #507
To whoever works on this, you can use the [Repository Labels](https://opensource.creativecommons.org/contributing-code/repo-labels/) page as a reference.

[2020-09-11 15:42] Aakash2408 commented on #490
is this done or i can take this?

[2020-09-11 16:25] zackkrida opened #509 "Document JavaScript coding guidelines"
## Issue Description

I intend to write guidelines and base configuration files for working with JavaScript in Creative Commons projects. This will include:

- Best practices
- Prettier configuration
- Eslint configuration
- JSON formatting
- Vue standards

This will most likely live on the open source site, and perhaps the wiki. We don't have _existing language guides_ so this would possibly be t

[2020-09-11 16:34] kgodey commented on #490
@Aakash2408 go ahead

[2020-09-11 17:18] #498 closed

[2020-09-12 09:58] dhruvkb commented on #509
Also include the following files:
- `.editorconfig`
- `.browserslistrc` (unsure about this, though it would be good to atleast have a baseline agreement on what browsers we should support)

Some good/popular style guides to pick/inherit from:
- [Standard](https://standardjs.com/index.html)
- [Google](https://google.github.io/styleguide/jsguide.html)
- [Airbnb](https://github.com/airbnb/javascript)

[2020-09-14 06:17] tushar912 commented on #472
can i work on this ?

[2020-09-14 06:25] dhruvkb commented on #472
Yes @tushar912, please feel free to.

[2020-09-14 10:15] Aakash2408 commented on #490
I guess this issue is already resolved.

[2020-09-14 10:16] Aakash2408 commented on #490
![Screenshot from 2020-09-14 15-46-01](https://user-images.githubusercontent.com/47134609/93074079-7ddca080-f6a1-11ea-8edd-2e3ca7e767e8.png)

[2020-09-14 17:04] kgodey commented on #490
The issue is not resolved, a lot of content is getting cut off.

[2020-09-14 17:28] zackkrida commented on #490
@Aakash2408 + @kgodey the issue is caused by our code blocks exceeding 100% of the page width. Some css is needed to adjust those.

[2020-09-15 07:53] nimishbongale commented on #490
@Aakash2408 @kgodey @zackkrida

I think an `overflow-wrap: break-word` might fix it, although I'm not a 100% certain. Maybe fidgeting around with `overflow-x` may also work.

[2020-09-15 20:17] #501 closed

[2020-09-25 02:04] #472 closed

[2020-09-25 15:03] dhruvkb opened #516 "The repository does not generate a CC metadata file"
## Description
Each repo in the CC organisation should have a `.cc-metadata.yml` file. The OS@CC site repo generated from this one does not.

## Expectation
The `.cc-metadata.yml` file should be present.

## Resolution

- [ ] I would be interested in resolving this bug.

[2020-09-25 15:09] kgodey commented on #516
It does, it's here: https://github.com/creativecommons/creativecommons.github.io-source/blob/master/.cc-metadata.yml

[2020-09-25 16:14] kgodey commented on #475
@Dhruvi16 is this ready for work now that the icon is in Vocabulary?

[2020-09-25 16:54] dhruvkb opened #517 "Use ISO-8601 date format on the issue finder"
## Description
Currently the issue finder formats dates as per the clients' locales.

https://github.com/creativecommons/creativecommons.github.io-source/blob/bd8fc4db7f2035e1009bc5502bd3b120ea8e6ce2/webpack/js/components.js#L72

This localisation is not immediately apparent and can cause confusion. Switching to the [ISO-8601 format](https://en.wikipedia.org/wiki/ISO_8601) for the dates should eli

[2020-09-25 17:00] dhruvkb opened #518 "Add disclaimer on the skill filter in the issue finder"
## Description
Not all issues have skills marked on them, especially if they are simple issues that do not require proficiency in any specific framework or language. Those issues are gone when filtering by skill in the [Issue Finder](https://opensource.creativecommons.org/contributing-code/issue-finder/). This behaviour should be explained to the user on the page.

## Reproduction

1. Open the Iss

[2020-09-25 17:15] CodeSarthak commented on #518
Hey @dhruvkb ,

I think switching to a system where we have to assign a skill to each issue might be a good choice in the long run but it will take time to switch over and it would have to be very well documented and prominent in the docs.

Therefore, I believe that a short term fix might be to simply document this behavior. Then, we can open up a new issue and work towards a more permanent/long-t

[2020-09-25 17:18] dhruvkb commented on #518
Yes, we should document this for now.

[2020-09-25 17:19] CodeSarthak commented on #518
Great, should I go ahead and do that?

[2020-09-26 16:00] Dhruvi16 opened #520 "Setup appreciation slack channel."
## Description

As discussed on slack we need an appreciation channel that will lift up community spirit and also motivate newcomers.

## Implementation

- [ ] I would be interested in implementing this feature.

[2020-09-26 16:22] Dhruvi16 commented on #475
On it.

[2020-09-26 16:51] Dhruvi16 commented on #475
I guess these icons will be available in the next release right? @zackkrida

[2020-09-26 18:44] zackkrida commented on #475
@Dhruvi16 they should be available now, let me check if something went wrong with the build on the latest version!

[2020-09-26 19:45] zackkrida commented on #475
@Dhruvi16 yes the `rss-square` icon is available in the latest vocabulary. The fonts storybook just hadn't updated. I did vue and vocab but forgot that one. It's fixed now:

https://cc-fonts.netlify.app/?path=/docs/vocabulary-icons--page

[2020-09-27 07:53] ooyeraju commented on #517
Hey, Can I take this?

[2020-09-27 10:13] dhruvkb opened #523 "Reduce commits by bot on the master branch"
## Description
The Creative Commons bot makes a very large number of commits to the `master` branch to keep issues synchronised between GitHub organisation and the issues databag in the repository. This should be reduced as it quickly leads to forks and clones going out of date. Every other copy of the repository goes stale almost every hour.

## Reproduction

1. Fork the repository and wait for a

[2020-09-27 10:17] dhruvkb commented on #517
Sure @ooyeraju, please do.

[2020-09-27 19:45] ooyeraju commented on #507
I can take this.

[2020-09-28 11:29] snehal199 commented on #516
Hey @dhruvkb, can I work on this?

[2020-09-29 02:07] madhhuurrii commented on #159
@kgodey @dhruvkb I would like to work on this issue? Is the content should be present in Intership>contents.lr in history section?

[2020-09-29 08:54] snehal199 commented on #516
@dhruvkb could you give me some input as to what changes do I need to make exactly? It looks like there already is a .cc-metadata.yml file. Somewhat confused right now.

[2020-09-29 08:58] dhruvkb commented on #516
So @snehal199, each repository should have a `.cc-metadata.yml` file. _This repo has one already_.

But this repo is the source code for the actual OS@CC website which is in the repository [`creativecommons/creativecommons.github.io`](https://github.com/creativecommons/creativecommons.github.io). _That repo does not have one._

So the [build process](https://github.com/creativecommons/creativecomm

[2020-09-30 16:59] kgodey commented on #159
@madhhuurrii this needs some discussion, please feel free to review the content and make a proposal for where the information should go.

[2020-09-30 18:30] zackkrida commented on #159
Noting that we have the `Archives` page, which could be an appropriate place to link this material, in addition to other places.

https://opensource.creativecommons.org/archives/

[2020-10-01 16:35] #517 closed

[2020-10-01 17:35] #507 closed

[2020-10-01 22:42] krysal opened #529 "Wrong hover state of links on footer"
## Description

The color of footer links turn green on hover state, when it should keep `dark-turquoise` color, according to the [pattern](https://cc-vocabulary.netlify.app/?path=/story/patterns-footer--default-story).

## Reproduction

1. Go to https://opensource.creativecommons.org/ or any derivated page.
2. Position the mouse over any menu link on footer.
3. See error.

## Expectation

Keep fo

[2020-10-02 10:17] snehal199 commented on #529
@krysal can I work on this?
I plan to change the [main.scss](https://github.com/creativecommons/creativecommons.github.io-source/blob/master/webpack/sass/main.scss) file for this issue, it looks like that would solve the problem.Would that be enough or do I need to work on some other files too?

[2020-10-02 13:23] snehal199 commented on #516
@dhruvkb, thank you for the feedback! I still didn't really understand what would be the way to resolve this issue. I looked up github actions since I don't really know how they work and found out some actions that copy files like [scp-action](https://github.com/appleboy/scp-action) and [copy via ssh](https://github.com/marketplace/actions/copy-via-ssh) but I am not quite sure if any of these solv

[2020-10-02 13:43] dhruvkb commented on #516
@snehal199 let's take this from the top. Lektor has a build process that compiles the source code from this repo to a proper website that is in the `creativecommons.github.io` repo. This build process is: https://github.com/creativecommons/creativecommons.github.io-source/blob/6ff9518c0526f494a77a0ca6ebb3d8e307dc9639/.github/workflows/lektor-build-deploy.yml#L16

During this build process, Lektor

[2020-10-02 14:12] snehal199 commented on #516
Thank you @dhruvkb for the detailed explanation ! I definitely made things much more clear :smiley:. Will open a pr soon.

[2020-10-02 16:00] #516 closed

[2020-10-02 16:13] dhruvkb commented on #529
Since the bug originates in Vocabulary ([explanation](https://github.com/creativecommons/creativecommons.github.io-source/pull/531#pullrequestreview-501268368)), this issue is more suited to be solved there.

[2020-10-04 03:40] dhruvkb opened #533 "Update the labels in Contribution Guidelines"
## Description
The section 'Proposing a new issue' still refers to the `not ready for work` label. This is old information. The new label that is applied to all new issues is `🚦 status: awaiting triage`.

## Expectation
The guidelines should contain accurate and up to date information.

## Resolution

- [ ] I would be interested in resolving this bug.

[2020-10-04 07:17] dhruvkb commented on #533
For reference, see #526.

[2020-10-04 08:44] Yashs911 commented on #533
Hi, @dhruvkb I would like to work on this issue.

[2020-10-04 08:45] dhruvkb commented on #533
@Yashs911 it's actually reserved for a demonstration, please pick a different issue.

[2020-10-04 09:07] Yashs911 commented on #490
Hi, @dhruvkb @nimishbongale I would like to work on this if this issue is still open. If you could please guide me on what all changes do I need to make and in which file?

[2020-10-04 09:47] Yashs911 commented on #490
Hi, @dhruvkb adding width: 85%; in .content fixes this issue but I don't know whether it will be an ideal fix.
Should I go ahead with this?
![fix](https://user-images.githubusercontent.com/64412143/95012236-a62e3e00-0654-11eb-8de2-0cc326fd0637.JPG)

[2020-10-04 11:52] anandikb commented on #533
I'm interested to work on this issue.

[2020-10-04 12:28] dhruvkb commented on #490
@Yashs911 any solution that needs a hardcoded arbitrary value is not ideal. I would recommend finding an alternative, cleaner solution to this.

[2020-10-04 13:54] Yashs911 commented on #490
@dhruvkb I am unable to find the files location is it in this repo or some other repo?

[2020-10-04 13:55] dhruvkb commented on #490
Which file are you looking for? All files are in this repo itself.

[2020-10-05 05:13] dhruvkb commented on #533
@Yashs911 you're free to work on this now, _if you still want to_.

[2020-10-05 05:21] Yashs911 commented on #533
@dhruvkb I guess someone else created a PR and it's already merged.

[2020-10-05 05:26] Yashs911 commented on #490
Hi, @dhruvkb according to the readme file this site is hosted on lektor and there is no installation command for windows. and I am currently using windows.

[2020-10-05 05:27] dhruvkb commented on #533
No it was not merged to `master`, just to a dummy branch that was later deleted.

[2020-10-05 05:29] dhruvkb commented on #490
To run this on Windows, you have to set up a Python and Node.js environment. Both of those have instructions for Windows on their websites.

[2020-10-05 05:58] #533 closed

[2020-10-05 08:10] nimishbongale commented on #490
They do have a very gimmicky way of getting it installed.
On windows, please run the following command on powershell in admin mode:

[code]

This should install lektor.
Please also make sure you have nodejs, python and pipenv installed to run the same like @dhruvkb mentioned.

You can use [chocolatey](https://chocolatey) to install these if you wish.

[code]

I'm currently working on having lektor

[2020-10-05 08:21] Yashs911 commented on #490
@nimishbongale I already have python 3.8 and node.js installed. How do I install pipenv? and which editor should I use for open source contribution? Currently, I am using sublime text and I also have anaconda and pycharm installed. I am not that familiar with setting a virtual environment.

[2020-10-05 13:03] nimishbongale commented on #490
@Yashs911

Alright. If you have nodejs and python 3.8 installed, all you would need is pip, and you could do `pip install pipenv` and it would work just fine.

As far as the editor is concerned, I prefer VSCode. But honestly, this should really not be a concern when it comes to Open Source Contribution. The commands that I talked of earlier have to be executed in the terminal and not via an IDE su

[2020-10-05 23:23] #475 closed

[2020-10-06 07:07] Dhruvi16 opened #536 "Make the secondary navigations reactive."
## Problem

The guidelines pages have table of contents and that does not show what section is active right now.

## Description

Make the table of content and table of progress reactive. This will highlight the active section as the user scrolls. Here is a similar [demo](https://jsfiddle.net/cse_tushar/Dxtyu/141/).

## Implementation

- [x] I would be interested in implementing this feature.

[2020-10-06 07:20] akmadian commented on #523
Is this issue ready for work? If so, I can take it on.

Will a naive solution work for now until we can get the plan for the more long term approach solidified?

[2020-10-06 08:32] dhruvkb commented on #523
I think yes, this is a very pressing issue. Please just make sure we're not using the `updatedAt` value anywhere before we get rid of it.

[2020-10-06 08:45] akmadian commented on #523
Okie dokie, I can do this in the next couple days.

[2020-10-06 21:20] c99SRS commented on #518
Hi @dhruvkb / @CodeSarthak, can I work on this?

[2020-10-07 04:17] dhruvkb commented on #518
@c99SRS in #527, @CodeSarthak has already made a PR to fix this, but I've added some pointers for improvement to that. Could you open a PR with only the suggested changes (so that I can merge both independently)?

[2020-10-10 08:07] c99SRS commented on #518
HI @dhruvkb , Could you please tell any specific UI for this or is there any particular section we have to make the change?
 But I have made changes to this. Attached the screenshot also. Please let me know if it looks good.
![IssueFinder](https://user-images.githubusercontent.com/8217389/95649881-9b185980-0afd-11eb-82b9-8ae01c5135b1.png)

[2020-10-10 08:15] dhruvkb commented on #518
<img width="1406" alt="Screenshot 2020-10-10 at 1 42 21 PM" src="https://user-images.githubusercontent.com/16580576/95650063-b9328980-0afe-11eb-9921-ad5f820ca427.png">

_^ Can you put the disclaimer here instead of the header region?_

[2020-10-10 08:48] c99SRS commented on #518
@dhruvkb

Don't you think it would be so much text on that particular section? I made changes also. Take a look and provide some feedback. If it looks odd, then I can suggest that text we can add in the header part 2-3 lines below from the current header part and we will mention that "**Disclaimer**" followed by those texts. Let me know your view on this?
![issue_finder](https://user-images.github

[2020-10-10 11:04] dhruvkb commented on #518
How about we add an asterisk `*` to the Skill set header and put that text in small font at the bottom of the page?

[2020-10-10 11:27] c99SRS commented on #518
Yes. we can try out that one.

[2020-10-10 15:33] c99SRS commented on #518
HI @dhruvkb , please take a look, made some changes. Attached the screenshot.
![Issue_Finder](https://user-images.githubusercontent.com/8217389/95659013-0aad3980-0b3c-11eb-960b-40eee8bb53d8.png)

[2020-10-10 16:10] c99SRS commented on #518
Hey @dhruvkb , I am raising one PR, if you are ok with this.

[2020-10-12 07:34] dhruvkb opened #542 "Migrate to the Search API for the Issue Finder"
## Problem
The Issue Finder wanted to use the ["Issues list for org"](https://octokit.github.io/rest.js/v18#issues-list-for-org) API but that required authentication so we built an hourly sync service in `ccos-scripts`.

## Description
Switch to the ["Search issues and pull requests"](https://octokit.github.io/rest.js/v18#search-issues-and-pull-requests) API. This removes the need for hourly sync

[2020-10-12 10:46] c99SRS commented on #518
Hi @dhruvkb , could you please merge my PR?

[2020-10-12 11:05] dhruvkb commented on #518
@c99SRS I'll review and merge it soon. You can continue to work on other issues in the meantime!

[2020-10-16 16:29] #523 closed

[2020-10-20 17:28] #276 closed

[2020-10-21 15:03] Dhruvi16 opened #545 "The header is not accessible by keyboard completely."
## Description

On navigating the website using the keyboard the dropdowns are not accessible.

## Reproduction

1. go to [page](https://opensource.creativecommons.org/)
2. try navigating page using tab
3. See error.

## Expectation

## Screenshots

## Environment

 - Device: laptop
 - OS: ubuntu 18.04
 - Browser: Firefox
 - Version: 81.0

## Additional context

## Resolution

- [ ] I would be int

[2020-10-21 21:09] tanvimehta commented on #545
Could this be assigned to me? I'd love to give this a shot.

[2020-10-24 18:10] DDuplinszki commented on #490
Hi guys,

Due to the inactivity, I've started to look into it. However, I'm unable to modify the css file because it's generated, if I modify it, it has no effect on restart. Maybe I don't have the necessary knowledge to handle these kind of environments, however if you would like to and if it's ok with the assignee, I can just put the solution over here in the comments.

[2020-10-24 18:16] Yashs911 commented on #490
@DDuplinszki if you want you can create a PR for this issue.

[2020-10-24 18:22] khushishikhu commented on #490
@Yashs911 may i work on this issue

[2020-10-24 18:30] Yashs911 commented on #490
@khushishikhu Currently no one is assigned so I guess you can work. But it would be better if you ask @dhruvkb.

[2020-10-24 18:34] nimishbongale commented on #490
@khushishikhu you may.

[2020-10-24 18:48] khushishikhu commented on #490
sure! @nimishbongale  @Yashs911

[2020-10-25 08:00] khushishikhu commented on #490
@nimishbongale can you please give me the reference file that i can do the css editing. As i have setup locally but unable to find the file for css editing.

[2020-10-25 13:40] dhruvkb commented on #490
@khushishikhu all the CSS files are in the [`webpack/sass` folder](https://github.com/creativecommons/creativecommons.github.io-source/tree/master/webpack/sass). Most likely, the file you're looking for would be `home-page.scss`.

[2020-10-25 13:57] Yashs911 commented on #490
@dhruvkb I just found the solution and the file and if it's okay with @khushishikhu. Can I create a PR.

[2020-10-25 13:59] Yashs911 commented on #490
![cc](https://user-images.githubusercontent.com/64412143/97109267-49282400-16f8-11eb-8033-f01040c9bd48.JPG)
width:75%; will solve the problem

[2020-10-30 07:08] Yashs911 commented on #545
@Dhruvi16 @dhruvkb I would like to work on this issue as there is no activity for the past 8 days

[2020-10-30 07:14] dhruvkb commented on #545
@Yashs911 there is already a PR (#546) for this.

[2020-10-30 07:21] Yashs911 commented on #545
@dhruvkb I checked, but there was no activity regarding the proposed changes. So I thought....

[2020-10-30 07:23] dhruvkb commented on #545
@Yashs911 If your solution is different from the existing PR, feel free to open a PR! I'm just pointing out one of the solutions that we've received.

[2020-10-30 08:52] #490 closed

[2020-10-30 14:06] DDuplinszki commented on #490
hi guys, I know it's closed and stuff. However, probably the best responsive solution would be to add min-width: 0;  min-height: 0;
It's due to the default settings of flexbox where these options on "auto". Even if no one will use this in this particular case, I felt like it would be useful to share that whenever you have this problem, you can try this solution as well.

[2020-11-05 20:47] zackkrida opened #553 "Implement generated Open Graph Images"
CC's Open Graph Image Generator has had enough styling improvements that it's ready for production!

https://cc-og-image.vercel.app/

We can use this to add custom OG images to all pages and blog posts. Here's an example tag and image for a standard page:

![og-image (1)](https://user-images.githubusercontent.com/6351754/98293992-4b3d7e80-1f53-11eb-8126-28ea30bf4898.png)

[code]

The `This%20is%20

[2020-11-09 13:59] Yashs911 commented on #545
@dhruvkb I will add tabindex="0" attribute to <a> tags.

[2020-11-09 20:49] Ryuno-Ki commented on #545
As long as `<a>` has a `href` attribute, it is focusable on its own according to [HTML standards](https://html.spec.whatwg.org/multipage/dom.html#interactive-content-2).

[2020-11-10 06:09] Yashs911 commented on #545
@Ryuno-Ki But in this case `<a>` doesn't have `href` attribute so we should either add `href="javascript:void(0)"` or `tabindex="0"`

[2020-11-10 19:32] Ryuno-Ki commented on #545
I disagree. If I look at #546, I'd assume, you are rather looking for a `<button>` (which is also focusable by default) instead of a `<a>`. A `<button>` „does things” and an `<a>` lets you go somewhere.
Here, you want to have a dropdown opening.

You could look at [WAI-ARIA Practices for menus](https://www.w3.org/TR/wai-aria-practices-1.1/#menu) if you care about accessibility (i.e. registering ev

[2020-11-10 21:24] Ryuno-Ki commented on #545
https://www.w3.org/WAI/GL/wiki/Using_ARIA_menus#Example_Code could serve as a boilerplate regarding the markup (`role="menu"` and `aria-haspopup`).

[2020-11-13 06:16] akshitagupta15june opened #557 "REQUEST TO JOIN THE ORGANISATION"
I would like to contribute in the projects

[2020-11-13 06:53] zackkrida commented on #557
Hi @akshitagupta15june, anyone can contribute to our projects; you don't need to join the organization. We do a community team you can read about here: https://opensource.creativecommons.org/community/

[2020-11-13 06:53] #557 closed

[2020-11-29 22:33] #542 closed

[2020-12-01 17:27] Cronus1007 commented on #553
@zackkrida  #554 is going to close this issue or some additional PR'swould also be involved

[2020-12-01 17:35] Cronus1007 commented on #159
@zackkrida Since no one is working on this issue so shall I take over this issue.

[2020-12-01 17:40] Cronus1007 commented on #159
@zackkrida  Actually I am planning to update the Technical Blog starting from 2006 and updating the required files as well.

[2020-12-01 18:10] dhruvkb commented on #553
@Cronus1007 there is still scope for improvement after #554 is merged (as I've pointed out in https://github.com/creativecommons/creativecommons.github.io-source/pull/554#pullrequestreview-540409523). You could look into that if you'd like.

[2020-12-01 18:12] dhruvkb commented on #159
@Cronus1007 there hasn't been much activity on this PR recently so you're welcome to take it up. Can you elaborate on

as I'm not able to infer what you meant there?

[2020-12-01 18:53] #553 closed

[2020-12-01 19:08] Cronus1007 commented on #159
-@dhruvkb Actually `Archives` page has one of the list element `CC Tech Blog(07-14)` we can update it to `CC Tech Blog(06-14)`. Because as per my observations the activity of 2007-2014 has been thoroughly updated on the Blog but it lacks for 2006 year.

[2020-12-02 04:28] dhruvkb commented on #159
@Cronus1007 where will you get the blogs for 2006 from?

[2020-12-02 05:02] Cronus1007 commented on #159
@dhruvkb Actually I am also having a thought about it but I think https://creativecommons.org/blog/ this blog can help a lot.

[2020-12-02 05:20] dhruvkb commented on #159
No @Cronus1007, that is the **CC blog**, which is completely separate from the **CC Open Source blog**. We should not move posts from there.

[2020-12-02 05:25] Cronus1007 commented on #159
@dhruvkb Rather we can use this https://wiki.creativecommons.org/wiki/Summer_of_Code_2006.

[2020-12-02 05:27] Cronus1007 commented on #159
It would be better if you suggest some resources
.

[2020-12-02 05:32] Cronus1007 commented on #159
But @dhruvkb above refers to the Tech Blogs rather than CC Open Source Blogs.

[2020-12-05 17:57] dhruvkb opened #568 "Code cleanup in 'Page with ToC' template"
## Description
The code in the 'Page with ToC' template ([`page-with-toc.html`](https://github.com/creativecommons/creativecommons.github.io-source/blob/master/themes/vocabulary_theme/templates/page-with-toc.html)) template writes a lot of repeated duplicate markup. This can be simplified using the features of Jinja templates such as [`for` loops](https://jinja.palletsprojects.com/en/2.11.x/templa

[2020-12-06 10:01] Yashs911 commented on #568
@dhruvkb  I would be interested in resolving this bug.

[2020-12-06 10:02] dhruvkb commented on #568
Sure, @Yashs911. Please submit a PR when you're ready.

[2020-12-16 15:08] prsndp commented on #568
I want to contribute to this project, Can you assign me this task??

[2020-12-16 19:37] Cronus1007 commented on #249
@kgodey  I think this issue is a somewhat related to #576 where I have moved information about old GSOC-projects from `cc-archive` org of github to `Internships ---> History` section of few specific years like 09-13 but the info about GSOC projcts from 06-08 lacks info . I am still researching may be I find the required data on `cc-archive`

[2020-12-17 03:51] nimishbongale commented on #568
@prsndp This issue already has a PR(#570) linked with it and some significant work has been done on it already. You can however, head over to the PR and give your inputs!

[2020-12-17 15:37] kgodey commented on #249
@Cronus1007 This is not about finding more information, this is about updating the code to support browsing through project ideas for multiple years.

[2020-12-17 15:48] Cronus1007 commented on #249
@kgodey  You guys want to implement in this manner. Actually I misunderstood the conversation. I want to take over this issue. So is someone working on this issue.

[2020-12-17 16:16] kgodey commented on #249
I don't think anyone is working on it.

[2020-12-18 05:32] Cronus1007 commented on #249
@kgodey  A little idea of  implementation from my side. In website's `Internship ---> History` Section we have categories of `GSOC-2019`(just an example) when we click on the mian link of `GSOC-2019` we get redirected to the GSOC website. So what I am going to do that break the links and then implement the above via https://github.com/creativecommons/creativecommons.github.io-source/blob/master/co

[2020-12-18 12:50] prsndp commented on #568
Okay, thanks 👍🏻

[2020-12-18 12:53] Cronus1007 commented on #509
@zackkrida @dhruvkb Also when we commit our changes we should implement things like `husky hooks` with `pre-commit`,`pre-push`, `post-ceckout`,`post-merge`.

[2020-12-18 17:49] kgodey commented on #249
I'm going to defer to @TimidRobot on questions about this issue since they are going to be taking over maintaining the site.

[2020-12-19 06:27] dhruvkb commented on #509
We do have a pre-commit hook to run `npm lint`. Not sure if we have any significant use for the rest.

[2020-12-19 07:39] Cronus1007 commented on #509
@dhruvkb But I don't see any while commiting. Just a suggestion to enhance developer exp.

[2020-12-19 12:51] dhruvkb commented on #509
The pre-commit hook I talked about is setup in [Vocabulary](https://github.com/creativecommons/vocabulary), not all repos. I believe you have been working on this repo which does not have such hooks.

[2020-12-19 13:10] Cronus1007 commented on #509
@dhruvkb Yup I am working on this repo only.
It would be a better approach to implement it on all the repos and we can  also build .sh scripts for checking preinstall ,install the dependencies and postinstal

[2020-12-20 19:48] Cronus1007 commented on #509
@dhruvkb Shall I implement all these functionlities.

[2020-12-21 01:41] dhruvkb commented on #509
@Cronus1007 I think we should split the issue into bits and start with the styleguide. We can implement other features gradually so that the PRs are atomic and easier to review/merge.

[2020-12-21 13:21] kgodey opened #583 "Please remove me from the Code of Conduct committee"
See "Current Code of Conduct Committee" here: https://opensource.creativecommons.org/community/code-of-conduct/enforcement/

[2020-12-21 18:22] Cronus1007 commented on #583
@kgodey Let me send a PR fixing this issue. As well please provide me the updated list of the CODE OF CONDUCT COMMITTEE

[2020-12-21 22:24] dhruvkb commented on #583
@Cronus1007 I believe the only change needed here is removing @kgodey's name from the list.

[2020-12-21 22:32] kgodey commented on #583
Actually, the committee needs to be three people (per that page) so CC will need to figure out who will take my place. I marked the issue as "staff only" since CC staff needs to decide who that will be. CC is on winter break until Jan 4 so I don't expect this to get resolved before then.

[2020-12-22 20:34] Cronus1007 commented on #509
@zackkrida  @dhruvkb I think first I will initialise this repo with npm init for prettierconfigs. Since while commiting we will call a .sh script to format the document with prettier and will also lay out the structure of config of prettier

[2020-12-25 16:44] shubhanshu02 opened #585 "Cannot Find Element: #vue-app"
## Description

While browsing through the website, I noticed there is a Vue warning in the console of developer tools. The following was the warning:
`vue.esm.js:629 [Vue warn]: Cannot find element: #vue-app`

## Reproduction
1. Open any link on the website.
2. Open the Developer Tools
3. Go to the Console
4. See error.

## Expectation
No such warning should be there.

## Screenshots
![Screenshot

[2020-12-26 15:06] shubhanshu02 commented on #585
**Update**: I noticed this warning is visible on all pages except the Issue Finder.
What I think probably the problem is that Vue is trying to render the App from `webpack/js/component.js` on every page, but since the div with `id="vue-app"` is available only on Issue Finder, the warning is visible.

[2020-12-27 08:43] #585 closed

[2021-01-03 12:32] SabhyaGrover commented on #545
Is this issue still open ? I would love to work on it .

[2021-01-03 13:08] nimishbongale commented on #545
Sure @SabhyaGrover!

@Yashs911 are you working on this issue?

[2021-01-03 13:10] Yashs911 commented on #545
Can I work on this issue?? My soln: <a> doesn't have href attribute so we should either add href="javascript:void(0)" or tabindex="0"

[2021-01-04 13:41] SabhyaGrover commented on #545
@Yashs911 I was going through your solution. This way, the dropdown in NavBar is expanded with the press of `Tabs` only. Shouldn't it expand on press of `Enter` or `Space` ?

[2021-01-06 18:03] #583 closed

[2021-01-14 17:19] #568 closed

[2021-01-22 18:07] zackkrida opened #589 "[Content] Design at Creative Commons"
https://opensource.creativecommons.org/ currently lacks any dedicated pages on Design. Through all of the orgs' web properties, we only have one reference to the style guide:

- https://creativecommons.org/2019/10/30/cc-style-guide/

At the very least, we should have a `/design` page on this site including some of the following information:

- Links/embed of the Figma style guide
- General info ab

[2021-01-24 16:39] noobkid2411 commented on #589
Hi,is this issue still open?
I would like to work on this if it's still unresolved.

[2021-01-24 16:45] noobkid2411 commented on #351
Hi,I would like to work on this issue.
Could someone elaborate on how excerpts are currently being made and if you need a better programming tool for excerpts for individual posts or general guidelines?

[2021-01-24 17:03] nimishbongale commented on #589
Hello @noobkid2411!

Thanks for your interest. I'm afraid this issue has been marked "staff only"; so that basically means its open to contributions only from the CC staff members. You are however free to take up any other issues! 👍

[2021-01-24 17:28] noobkid2411 commented on #589
Oh ,thanks! I saw the staff only label right now. I would continue on some other requests. Sorry for this mixup.

[2021-01-25 09:51] urvashi-code1255 commented on #545
Is this Issue Still Open? I would like to work on it.

[2021-01-25 09:56] nimishbongale commented on #545
@urvashi-code1255

Thanks for your interest. This issue already has a PR linked to it, which is yet to be approved & merged. If you have any thoughts to do with the PR (#587), please head over there and give in your thoughts! 👍

[2021-02-02 03:28] Cronus1007 commented on #249
@TimidRobot Let me start implementing this issue.

[2021-02-03 21:15] kenkirito commented on #536
can i work on this issue

[2021-02-05 04:42] dhruvkb commented on #536
@kenkirito since there is already @Dhruvi16's PR #537 that addresses this issue, if you could review that PR (by verifying that it works as expected), that would be very helpful.

[2021-02-05 04:57] kenkirito commented on #536
sure

[2021-02-16 11:06] CapriciousRebel commented on #545
Hello, Is this issue still open? I would like to work on this one.

[2021-02-20 08:10] RiyaJ2311 opened #600 "[BUG] Image not fit properly in the article's panel"
**What is the growth opportunity you want to see solved?**
 [The organization](https://creativecommons.org/) is the most easily accessible and is considered as the most reliable [source](https://www.smartinsights.com/user-experience/website-design/what-is-the-importance-of-web-design-for-your-audience/#:~:text=A%20well%2Ddesigned%20website%20can,navigate%20your%20website%20with%20ease.).
![image](

[2021-02-20 19:03] #159 closed

[2021-02-23 10:43] roshni-satish commented on #545
Hey! Can someone confirm if this issue is still open? I'll be happy to work on this.

[2021-02-24 08:25] #545 closed

[2021-03-05 17:00] Cronus1007 opened #604 "Document Python coding guidelines to include isort"
## Problem
An addition to #276 by @TimidRobot where the Pyton coding guidelines lacks a litlle bit
   - reduces efficiency of communication and pull requests
   - sets new contributors up to fail
   - increases cognitive work of working across multiple repositories
## Solution
- [x] Draft guidelines
## Additional context
- Isort

## Resources
As mentioned by @TimidRobot in the linked PR above .

#

[2021-03-06 05:34] Cronus1007 commented on #604
@TimidRobot Are there any isort conflicts with that of the black. I didn't find one. If there are let me know.

[2021-03-22 22:40] PattyStackzzCryp3c opened #609 "Hello_world"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2021-03-23 00:21] #609 closed

[2021-03-23 09:23] PattyStackzzCryp3c opened #610 "Success"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2021-03-23 09:32] #610 closed

[2021-03-31 16:18] shubhanshu02 opened #611 "Sass Writing Styles"
## Description
Currently, Creative Commons does not have a Sass writing style though it follows a standard code style in all `.scss` files. This issue proposes finding and preparing a writing style from the `.scss` files present in this repository.

Please provide your suggestions on this idea.

## Implementation
- [x] I would be interested in implementing this feature.

[2021-04-01 15:23] #604 closed

[2021-06-08 17:26] #509 closed

[2021-06-09 07:41] brylie opened #617 "Rename "master" branch as "main""
## Description

## Alternatives

We could leave the `master` branch as-is. However, renaming the branch is relatively easy and would be consistent with other repos in the CC org.

- [CC WordPress Plugin](https://github.com/creativecommons/wp-plugin-creativecommons)
- [CC chooser](https://github.com/creativecommons/chooser)
- [CC legaldb](https://github.com/creativecommons/legaldb)
- [CC licenses](

[2021-06-09 14:18] brylie opened #618 "Add emphasis on Simplicity in developer guidelines"
## Problem

Simplicity should be one of our core philosophical principles when developing. It is an essential trait of good engineering.

## Description
Add a section to the Philosophy of JS guidelines that briefly explains "simplicity" in the context of development.
## Alternatives

Leave simplicity off the list and lose sight of a really useful heuristic for technology decisions.

## Additional

[2021-06-10 07:21] #618 closed

[2021-10-26 09:19] brylie opened #622 "Update internship ideas"
## Problem
We discussed that the CC internship ideas are not quite aligned with the current project/organization priorities.

## Description
Update the CC internship ideas so they track better with our near-term goals.

[2021-11-01 17:17] brylie commented on #622
We will revisit this in Feb.

[2021-11-04 06:10] pppppppoiuy opened #624 "[Fe40.92.0.0/1540.107.0.0/1652.100.0.0/14104.47.0.0/172a01:111:f400::/482a01:111:f403::/48ature] <Replace this with actual title>"
## Problem

## Description

## Alternatives

## Additional context

## Implementation

- [ ] I would be interested in implementing this feature.

[2021-11-04 06:10] pppppppoiuy commented on #624
51.4.72.0/2451.5.72.0/2451.5.80.0/2720.47.149.138/3251.4.80.0/272a01:4180:4051:0800::/642a01:4180:4050:0800::/642a01:4180:4051:0400::/642a01:4180:4050:0400::/64

[2021-11-04 06:11] pppppppoiuy commented on #624
https://docs.google.com/document/?usp=docs_alcGoogle.Yahoo.bliever

Non-Exhaustive List of Yahoo Trademarks

Yahoo's trademarks and trade dress may not be used in connection with any product or service that is not Yahoo's without express written permission, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits Yahoo. To the extent a name or

[2022-01-12 15:43] cuibonobo opened #627 "[Bug] Clicking on the "Contribution Guidelines" link in the sidebar menu returns a 404"
## Description
The "Contribution Guidelines" section of the site (at `/contributing-code/`) displays a sidebar menu that contains a "Contribution Guidelines" link. The link points to `/contributing-code/contributing-code`, which does not exist. It's not clear from the UI of the sidebar that you're actually already on the "Contribution Guidelines" page. Unfortunately if you are on a sub-page, e.g.

[2022-01-12 18:17] #627 closed

[2022-01-27 00:10] zackkrida opened #629 "[Bug] Dead link to the archived browser extension on the homepage."
## Description

The homepage of https://opensource.creativecommons.org/ links to the CC Search Browser Extension in the third column of the `GET INVOLVED` section. This link is a 404:

https://opensource.creativecommons.org/ccsearch-browser-extension/

## Expectation

This link should likely be removed.

## Screenshots

![CleanShot 2022-01-26 at 19 09 41@2x](https://user-images.githubusercontent.c

[2022-01-27 09:01] brylie opened #630 "Add Chooser project stewardship internship idea"
We are preparing to apply for GSoC funding. GSoC supports open-source projects used by third parties, such as software libraries or general applications. To qualify for GSoC, we want to promote our outward-facing open-source projects.

The Chooser project benefits downstream projects outside the Creative Commons organization by helping creators choose license terms when sharing their works. Theref

[2022-01-31 08:39] #630 closed

[2022-01-31 16:33] #629 closed

[2022-03-07 18:43] TimidRobot opened #641 "[Bug] Replace "Internships" with "Work Programs""
## Description

Our website refers to all development-for-stipend opportunities as "internships". Notably:
- [Open Source Internships: Overview — Creative Commons Open Source](https://opensource.creativecommons.org/internships/)
  - [Open Source Internships: Intern Guide — Creative Commons Open Source](https://opensource.creativecommons.org/internships/intern-guide/)

This conflicts with Google Su

[2022-03-07 22:13] #617 closed

[2022-03-09 17:01] #641 closed

[2022-03-09 21:59] #622 closed

[2022-03-12 00:20] TimidRobot opened #646 "[Bug] Formatting is partially broken on author pages"
## Description
Formatting is partially broken on author pages (ex. lists render like paragraphs).

## Reproduction
Visit [Eleni (Lena) Stergatou — Creative Commons Open Source](https://opensource.creativecommons.org/blog/authors/lenasterg/).

## Expectation
Bulleted unordered lists, etc.

## Screenshots

### Website
<img width="793" alt="Screen Shot 2022-03-11 at 16 16 26" src="https://user-images

[2022-04-27 16:43] #646 closed

[2022-05-20 14:42] #503 closed

[2022-08-12 14:33] #79 closed

[2022-09-16 21:35] possumbilities opened #666 "[Content] The need to require a Node.js version is not specified in JavaScript Guidelines"
## Problem

Currently there is not a consistent method across repositories for requiring a minimum Node.js version. This can and will create issues for contributing to repositories.

## Description
This can be solved by adding guidance in the Javascript Guidelines to add:

`"engines" : { "npm" : ">=x.y.z","node" : ">=x.yz"}` to the package.json file as a baseline standard

## Alternatives

Additio

[2022-09-16 21:39] possumbilities opened #667 "[Content] add JSON linting (automatic formatting) to JavaScript Guidelines"
## Problem
There is not currently a consistent method by which to lint JSON across repositories
## Description
The least intrusive route would be to create a singular repository with the right linting setup, and then a GH Action that would run, grabbing the config from that repo and applying the linting to various repos as part of a workflow.

This could be documented in the Guidelines, however if

[2022-09-16 21:40] possumbilities opened #668 "[Feature] add recommendations about minimizing packages to JavaScript Guidelines — Creative Commons Open Source"
## Problem

## Description

## Alternatives

## Additional context

## Implementation

- [ ] I would be interested in implementing this feature.

[2022-09-16 21:44] possumbilities opened #669 "[Content] add recommendations about minimizing packages to JavaScript Guidelines"
## Problem
There's no guidance for contributors when solving a problem by utilizing packages within a node ecosystem project. There should be some measure of reasonable guidance that is not so specific as to hinder work, but also to keep a balance of clarity and reduce unnecessary complexity.

## Description
Find, research, and outline specific guidance about keeping this to a minimum, ways to rec

[2022-09-26 19:48] possumbilities opened #670 "[Content] Application Tips on CC Search and Termination of Transfer work program projects lists wrong repositories"
## Description

Errors appear In the Applications Tips section of the project listings

* https://opensource.creativecommons.org/programs/project-ideas/#refactor-cc-meta-search
* https://opensource.creativecommons.org/programs/project-ideas/#modernize-termination-of-transfer-wp-plugin

These sections incorrectly list the "CC Legal Tools" instead of their corresponding repositories.

## Expectation

[2022-09-26 20:37] #670 closed

[2022-10-12 17:15] JeffyDave commented on #611
Hi, Please I would love to work on this if it has not been assigned to anyone.

[2022-10-13 03:03] JeffyDave commented on #351
Hi , please can this be assigned to me @kgodey. I would love to work on this.

[2022-10-13 12:59] kgodey commented on #351
@JeffyDave I'm not involved with CC open source work much any more, I'll defer on assignment to @TimidRobot or @possumbilities.

[2022-10-13 14:25] possumbilities commented on #351
@JeffyDave Hi, I'm glad you're all working hard to find ways to contribute. We do appreciate it. ❤️

But, if you read through the [Contribution Guidelines](https://opensource.creativecommons.org/contributing-code/#finding-an-issue) you can see that this issue is not currently ready to be worked on. I'd suggest you read the Contribution Guidelines through and hunt for Issues that fall within tags t

[2022-10-14 06:28] JeffyDave opened #672 "[Bug] The blog link and Creative common logo is misaligned when Inspect is opened"
## Description
The blog link and Creative common logo is misaligned when Inspect is opened
This is flaw I would think is in the CSS

## Expectation
Proper alignment

## Screenshots
![Screen Shot 2022-10-14 at 7 23 04 AM](https://user-images.githubusercontent.com/106249556/195777165-e1e06cf3-5529-4f9c-b3e1-60a6930b4a41.png)

- [x] I would be interested in resolving this bug.

[2022-10-14 06:29] JeffyDave commented on #672
@TimidRobot I would love to start working on this, can it be assigned to me?

[2022-10-14 09:00] JeffyDave commented on #672
@possumbilities @TimidRobot Please can you triage this? I would love to get started as soon as possible.

[2022-10-14 22:41] yokwejuste opened #673 "[Feature] Email field place holder not properly alligned"
## Problem
For not the design of the footer is quite alright, just some minor issues to fix here again!
The placeholder of the email field at the level of the footer is not properly aligned. The screenshot below illustrates this behavior
![Screenshot from 2022-10-14 23-28-33(1)](https://user-images.githubusercontent.com/71908316/195953811-b281d346-e15b-43f1-a8cb-39ea756cc3a0.png)

## Description
T

[2022-10-14 22:42] yokwejuste commented on #673
@TimidRobot will like working on this issue! Currently on it already

[2022-10-15 06:13] JeffyDave commented on #672
Thank you @TimidRobot
I'm getting started on this right away

[2022-10-18 15:04] TimidRobot opened #674 "[RFC] Request for Comments: issues encountered"
## Problem
Our projects assume a working knowledge of multiple technologies (ex. Command Line, Docker, Git, JavaScript, Python). New contributors with less experience in any of those technologies may feel lost or unsupported.

## Description
- Please comment with areas, tasks, or technologies that gave you trouble.
- **Please 👍🏻 existing comments that match your experience instead of writing a dup

[2022-11-30 20:19] possumbilities opened #680 "[Change] Add `#cc-dev-searchportal` slack channel information to site"
## Problem
The [Join The CC Developer Community](https://opensource.creativecommons.org/community/#slack) page, `Slack` section needs to be updated to include the new `#cc-dev-searchportal` project channel.

## Description

- [x] `cc-dev-searchportal` exists in slack
- [x] Amend `/content/community/contents.lr` file to reflect new listing

## Implementation

- [x] I would be interested in implemen